<aside class="downapplight" id="downapplight">
    <div class="dark-bg" id="downapp_bg"></div>
    <div class="downapp-content">
        <span class="close" id="downapp_close"></span>
        <div class="the-box">
            <div class="theicon"></div>
            <h1>برای دانلود اپفورال روی آیفون یا آیپدتان،<br />لازم است سایت را روی آیفون یا آیپد باز کنید</h1>
            <div class="bottom-box">
                <div class="or"><span>یا</span></div>
                <div class="sms-form">
                    <h1>شماره موبایلتان را در فرم زیر وارد کنید تا لینک دانلود اپفورال برایتان با پیامک ارسال شود.</h1>
                    <div class="row">
                        <label>شماره موبایل شما</label>
                        <input id="mobile-number" type="text" placeholder="شماره موبایل شما" class="ltr input">
                    </div>
                    <div class="row">
                        <button class="ibtn submit">ارسال لینک دانلود اپفورال</button>
                    </div>
                </div> <!-- sms-form -->
                <div class="success" style="display:none"></div>
                <div class="error" style="display: none"></div>
                <a class="helplink" href="/help" style="display:none" target="_blank">راهنمای نصب اپفورال</a>
                <div class="sms-text">اپفورال از شماره موبایل شما برای ارسال پیامک های دیگر و کارهای تبلیغاتی استفاده نمی کند</div>
            </div>
            <div class="the-loader" id="loader" style="display:none"><span></span></div>
        </div>
    </div><!--downapp-conten-->
</aside><!--downapplight-->
