{% extends "base.html" %}

{% block style %}
<!-- <link href="/static/css/single.css" media="all" rel="stylesheet" > -->
<link href="/assets/css/single.min.css" media="all" rel="stylesheet" >
{% endblock %}

{% block download %}{% endblock %}

{% block main %}
<main class="single-page">

<section class="container">

        <section class="single-page-body faq-page">
            <div class="page-title">پرسش‌های رایج</div>

            <div class="articles-title">آشنایی با اپفورال</div>
            <div class="question">
                <h2 class="faq-title">اپفورال دقیقا چه کار می‌کند؟</h2>
                <div class="faq-answer">
                    <p>اپفورال یک برنامه‌ی iOS است که به کمک آن می‌توانید هر برنامه پولی و رایگان اپ‌استور را بدون نیاز به جلبریک روی آیفون یا آیپدتان نصب کنید. وقتی اپفورال روی دستگاه شما نصب باشد بدون نگرانی بابت تحریم‌ها و خطای ۱۰۰۹ اپل، از سرورهایی که در ایران هستند با حداقل ۱۲ برابر سرعت معمول هر برنامه‌ای که بخواهید را نصب می‌کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">حتما باید جیلبریک کرده باشم؟</h2>
                <div class="faq-answer">
                    <p>نه، هیچ نیازی به جیلبریک نیست. شما با آیفون و آیپد جیلبریک نشده هم می‌توانید از اپفورال استفاده کنید. هر چند اپفورال روی دستگاه‌های جیلبریک شده هم کار می‌کند.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">اپفورال از این برنامه‌هاست که باید اول روی ویندوز/مک خودم نصب بشه و بعد با کابل به آیفون/آیپد وصل کنم و کلی وقت بذارم واسه نصب یه برنامه؟</h2>
                <div class="faq-answer">
                    <p>به هیچ عنوان! اپفورال یک برنامه‌ی iOS است که دقیقا مثل برنامه‌ی اپ‌استور خود اپل روی آیفون یا آیپد شما نصب می‌شود و نیازه به هیچ برنامه دیگر یا آیتونز یا انتقال فایلها از طریق کابلِ USB و غیره ندارد. کافیست در سایت <a target="_blank" href="/#register">ثبت نام</a> کنید تا فایل نصب اپفورال برایتان ایمیل شود و آن را روی آیفون یا آیپدتان نصب کنید. همین!</p>
                </div>
            </div>          
            <div class="question">
                <h2 class="faq-title">
                    اپفورال فقط برای iOS است یا قابل نصب روی اندروید هم هست؟
                </h2>
                <div class="faq-answer">
                    <p>اپفورال سرویسی مختص دستگاه‌های آیفون و آیپد است و انگیزه‌ی اولیه ما از راه‌اندازی آن حل مشکلات متعدد کاربرانِ این دستگاه‌ها در ایران بوده. برای کسانی که از سیستم‌عامل اندروید استفاده می‌کنند خوشبختانه سرویس‌های مشابهی قبلا فراهم شده لذا تیم اپفورال ترجیح می‌دهد به جای حل مساله‌ای که تا اندازه‌ی خوبی حل شده انرژی‌اش را متمرکز روی ارائه‌ی بهترین خدمات به دارندگان دستگاه‌های iOS ای بکند.</p>
                </div>
            </div>  
            <div class="question">
                <h2 class="faq-title">
                    با نصب اپفورال چگونه امنيت تلفن من تأمين مي شود؟
                </h2>
                <div class="faq-answer">
                    <p>اپفورال در هنگام نصب اولیه از شما برای دادن مجوز شناسایی دستگاه درخواست خواهد کرد. بعد از شناسایی دستگاه تنها دسترسی اپفورال امکان نصب برنامه‌ها از روی سرورهای خودش است و هیچگونه دسترسی به اطلاعات شخصی شما اعم از شماره تلفن و عکس و ... نداشته و به لحاظ فنی نمی‌تواند داشته باشد. حریم خصوصی کاربران ما در درجه اول اولویت برای اپفورال است.</p>
                </div>
            </div>         
            <div class="question">
                <h2 class="faq-title">
                    راه های دیگری نیز برای دريافت برنامه‌ها به صورت رايگان وجود داره از جمله با برنامه‌ چيني TongBu مشابه اپفورال مي توان به بسیار از اپها بدون نياز به جيلبريك دسترسي داشت. چرا از اپفورال استفاده کنم؟
                </h2>
                <div class="faq-answer">
                    <p>به ۳ دلیل احتمالا شما بخواهید از اپفورال استفاده کنید!<br />
                        ۱- حفظ حریم خصوصی و امنیت اطلاعات شخصی: البته راه‌هایی که ذکر کردید وجود دارند ولی اگر به موارد متعدد سرقت اطلاعات توسط چنین سرویس‌دهنده‌هایی دقت کنید قطعا شما هم مثل ما با تامل به این سوال می‌رسید که دلیل راه‌اندازی سرویس تانگبو و امثالهم آنهم بدون مدل درآمدی شفاف چه بوده؟ آیا چنین سرویس‌هایی جز از طریق مبادله اطلاعات شخصی کاربرانشان با شرکت‌های تبلیغاتی و … می‌توانند برای مدت زیادی سرپا باشند؟ در اپفورال شما از یک شرکت حقوقیِ ثبت شده و تابع قوانین کشورمان خدمات دریافت می‌کنید و حداقل خیالتان راحت است که همیشه دسترسی به شرکت خدمات دهنده دارید.<br />
                        ۲- پشتیبانی و کیفیت برنامه‌ها: مدل کاری تانگبو و سرویس‌های مشابه متکی بر تغییر ساختار فایل ipa دانلود شده است. در بسیاری موارد این سرویس‌ها خواسته یا ناخواسته بدافزارهایی داخل فایل نهایی قرار می‌دهند و یا با تغییراتی که در ساختار فایل ایجاد می‌کنند باعث می‌شوند که برنامه نصب شود ولی اجرا نشود یا در حین کار ناگهان crash کند. در این موارد شما درخواست پشتیبانی و بررسی مشکل را نمی‌توانید به تیم تانگبو و سرویس‌های مشابه چینی ارسال کنید.<br />
                        ۳- نصب آسان در اپفورال: سرویس‌هایی نظیر تانگبو نیازمند نصب برنامه‌ای روی لپ‌تاپ یا PC و اتصال آیفون/آیپد با کابل به سیستم دارند. جدای از واسط کاربری این سرویس‌ها که عمدتا به زبان چینی است کل فرآیند برای کاربری که هزاران دغدغه و دلمشغولی دیگر دارد، پیچیده و در بهترین تفسیر بسیار زمان‌برتر از راه حلی مثل اپفورال است که محیطی دقیقا مشابه AppStore روی آیفون یا آیپد شما فراهم می‌کند و واسط کاربری فارسی و بسیار ساده دارد.</p>
                </div>
            </div>

            <div class="articles-title">ثبت نام و نصب اپفورال</div>
            <div class="question">
                <h2 class="faq-title">چطور باید اپفورال را نصب کنم؟</h2>
                <div class="faq-answer">
                    <p>اپفورال یک برنامه‌ی iOS است که برای دانلود کردنش باید ابتدا در سایت <a target="_blank" href="/#register"> ثبت نام</a> کنید. پس از ثبت نام در سایت دو ایمیل برای شما ارسال می‌شود که اولی برای فعال‌سازی آیفون یا آیپد شما و دومی حاوی لینک نصب اپفورال است.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    در اپفورال ثبت نام کردم. چه چیزی دریافت خواهم کرد؟
                </h2>
                <div class="faq-answer">
                    <p>بلافاصله پس از ثبت نام موفقیت آمیز شما در اپفورال ایمیلِ <strong>"فعال‌سازی دستگاه"</strong> برای شما ارسال می‌شود. شما این ایمیل را روی آیفون یا آیپدی که می‌خواهید اپفورال رویش نصب شود باز می‌کنید تا آن دستگاه فعال شود. بلافاصله پس از فعالسازی، ایمیل دومی بطور اتوماتیک برای شما فرستاده می‌شود که حاوی لینک نصبِ اپفورال است. این ایمیل را نیز بایستی روی همان آیفون یا آیپدی که می‌خواهید اپفورال رویش نصب شود باز کنید. پس از نصب شما می‌توانید از داخل برنامه‌ی اپفورال به هزاران برنامه دسترسی داشته باشید و به راحتی آنها را دانلود و نصب کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title"> من مطمئن نیستم برنامه‌هایی که می‌خواهم توسط اپفورال قابل دانلود باشد، حتما باید اول پرداخت کنم تا بفهمم برنامه‌ی مورد نظرم هست یا نه؟</h2>
                <div class="faq-answer">
                    <p>البته که نه! شما حتی قبل از ثبت نام و پرداخت می‌توانید از طریق بخشِ <a target="_blank" href="/#appsvitrine">برنامه‌های موجود</a> در وبسایت، ببینید که چه برنامه‌هایی در حال حاضر از طریق اپفورال قابل دانلود و نصب است.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title"> خیلی بد شد! چرا برنامه‌ای که من لازم داشتم در اپفورال وجود ندارد؟</h2>
                <div class="faq-answer">
                    <p>در حال حاضر هزاران برنامه‌ی محبوب توسط اپفورال قابل نصب است و روزانه به تعداد آنها اضافه می‌شود پس احتمال اینکه برنامه مورد نظر شما در روزهای آینده به اپفورال اضافه شود زیاد است بخصوص اگر برنامه‌ی محبوبی باشد! اگر عجله دارید کافیست نام برنامه را در <a target="_blank" href="/#appsvitrine"> این بخش</a> جستجو کنید و در فرمی که ظاهر می‌شود نامش را برای ما بفرستید تا زودتر تهیه‌اش کنیم :)</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    اپفورال روی همه آيفون‌ها و آیپدها قابل نصب است؟
                </h2>
                <div class="faq-answer">
                    <p>نصب اپفورال به سخت‌افزار بستگی ندارد بلکه وابسته به نسخه‌ی iOS ایست که روی دستگاه شما وجود دارد. اپفورال برای iOS 8 به بالا (بالطبع شامل iOS 9) طراحی شده و روی این نسخه‌ها با تمام سخت‌افزارها تست شده است. برای اطلاع از نسخه‌ی iOS تان لطفا <a target="_blank" href="/blog/1393/05/%DA%86%DA%AF%D9%88%D9%86%D9%87-%D9%86%D8%B3%D8%AE%D9%87-%D8%B3%DB%8C%D8%B3%D8%AA%D9%85-%D8%B9%D8%A7%D9%85%D9%84-%D8%A2%DB%8C%D9%81%D9%88%D9%86-%D8%A2%DB%8C%D9%BE%D8%AF-%D8%B1%D8%A7-%D9%BE%DB%8C%D8%AF/">این پستِ وبلاگ ما</a> را ببینید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">چطور بفهمم که iOS من نسخه چند است؟</h2>
                <div class="faq-answer">
                    <p>در <a target="_blank" href="/blog/1393/05/%DA%86%DA%AF%D9%88%D9%86%D9%87-%D9%86%D8%B3%D8%AE%D9%87-%D8%B3%DB%8C%D8%B3%D8%AA%D9%85-%D8%B9%D8%A7%D9%85%D9%84-%D8%A2%DB%8C%D9%81%D9%88%D9%86-%D8%A2%DB%8C%D9%BE%D8%AF-%D8%B1%D8%A7-%D9%BE%DB%8C%D8%AF/">این پستِ وبلاگ ما</a> مراحل کار کامل توضیح داده شده است.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">اگر اپفورال کار نکرد چه؟</h2>
                <div class="faq-answer">
                    <p>اپفورال <strong >گارانتی پس‌دادنِ پول</strong> بسیار منصفانه‌ای دارد. اگر به هر دلیل غیر از مواردی که در <a target="_blank" href="/tos">شرایط و مقررات استفاده</a> ذکر شده اپفورال آنطور که قرار بوده کار نکرد <strong>همه‌ی مبلغ پرداختی</strong> به شما برگشت داده می‌شود و عذرخواهی رسمی ما هم ضمیمه آن خواهد بود. با مطالعه‌ی شرایط و مقررات استفاده خواهید دید که تعداد مواردی که گارانتی بازگشت پول شامل کاربر نمی‌شود واقعا کم است و این قوانین تعمدا به نفع کاربران ما تنظیم شده تا خیالشان از این بابت کاملا راحت باشد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">من یک آیفون و یک آیپد دارم آیا با خرید یک اشتراک می‌توانم اپفورال را روی هر دو دستگاه نصب کنم؟
                </h2>
                <div class="faq-answer">
                    <p>فایل نصب اپفورال به ازای هر دستگاه و مختص همان دستگاهی که فعال‌سازی رویش انجام شده تولید و برای شما ایمیل می‌شود.  لذا برای اینکه اپفورال را روی دستگاه دومتان نیز نصب کنید باید اشتراک مجزا خریداری کنید. البته این به این معنی نیست که همه مراحل ثبت نام را از ابتدا طی کنید! کافیست برای اضافه کردن دستگاه دوم در <a target="_blank" href="http://www.PROJECT.ir/panel">پنل کاربری</a> و با ایمیل و رمز عبوری  که هنگام ثبت نام اولیه تعیین کرده‌اید لاگین کنید. در لیست "دستگاه‌های من" گزینه‌ی "افزودن دستگاه جدید" را بزنید و با یک پرداخت آنلاین، ایمیلِ فعالسازی و نصبِ اپفورال برای دستگاه دوم شما نیز ارسال خواهد شد.</p>
                </div>
            </div>         
            <div class="question">
                <h2 class="faq-title">آیا برای فعال‌سازی دستگاه و نصب اپفورال حتما باید از برنامه‌ی Mail  خود iOS استفاده کنم؟</h2>
                <div class="faq-answer">
                    <p>نه،‌ با هر برنامه‌ای که ایمیل را باز کرده‌اید کافیست انگشت خود را روی لینکی که در ایمیل است (مثلا "فعال‌سازی دستگاه") نگه دارید تا گزینه‌ی Copy ظاهر شود. آدرسی که کپی کردید را در Suserri باز کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">من اصلا از برنامه خاصی برای خواندن ایمیل‌ها استفاده نمی‌کنم! آیا  برای باز کردن ایمیل‌های فعال‌سازی و نصب اپفورال دچار مشکل خواهم شد؟ </h2>
                <div class="faq-answer">
                    <p>به هیچ وجه! کافیست ایمیل خود را (gmail یا yahoo یا ...) در مرورگر Suserri باز کنید و از آنجا روی لینک‌های فعال‌سازی یا نصب که در متن ایمیل آمده تاچ کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">بعد از مرحله دانلود یک برنامه داخل اپفورال نصب آن بلافاصله شروع می‌شود. چرا برای مرحله نصب هم من نیاز به اتصال اینترنت دارم؟</h2>
                <div class="faq-answer">
                    <p>اپفورال وضعیت اشتراک فعال شما را در بین مرحله دانلود و نصب چک می‌کند. این چک به دلایل امنیتی روی سرور و نه داخل اپلیکیشن اپفورال انجام می‌گیرد و لذا برای انجام آن نیاز به اتصال اینترنت دارید.</p>
                </div>
            </div>                
            <div class="question">
                <h2 class="faq-title">
                    من کد تخفیف برای ثبت نام در اپفورال دارم ولی نمی‌دانم چطور از ان استفاده کنم!
                </h2>
                <div class="faq-answer">
                    <p>بسیار عالی! لطفا روال ثبت نام را آغاز کنید. در مرحله‌ی سوم  که پیش‌فاکتور به شما نشان دادن می‌شود فرمی برای وارد کردن کد تخفیف وجود دارد.  با وارد کردن کد تخفیف پیش‌فاکتور شما هم درجا تغییر می‌کند و احتمالا شما مبلغ کمتری می‌پردازید ;)</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    اگر خود اپفورال رو حذف کنم از دستگاهم آیا برای دوباره نصب کردنش باید هزینه‌ای بپردازم؟
                </h2>
                <div class="faq-answer">
                    <p>اصلا! مادامی‌که شما از اپفورال روی همان دستگاه قبلی استفاده کنید و دستگاهتان را Reset Factory نکرده باشید اپفورال همیشه قابل نصب مجدد است و این کار هزینه‌ای هم ندارد. کافیست ایمیلی را که در ابتدای اشتراکتان برای نصبِ اپفورال دریافت کرده بودید را پیدا کنید و دوباره روی لینکِ "نصب اپفورال" تاچ کنید. از آنجایی که دستگاه شما قبلا فعال‌سازی شده لذا فعال‌سازی مجدد لازم نیست. حتی ساده‌تر از این: اگر روی آیفون یا آیپدتان <a target="_blank" href="/panel">پنل کاربری اپفورال</a> را در Suserri باز کنید در   لیست "دستگاه‌های من" در کنار هر دستگاه یک گزینه‌ی "دانلود مجدد اپفورال" وجود دارد که با زدن آن اپفورال روی دستگاهتان نصب می شود.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    من آیفون یا آیپدم را عوض کردم. آيا می‌توانم از اپفورالی که قبلا داشتم روی دستگاه جدید هم استفاده کنم؟
                </h2>
                <div class="faq-answer">
                    <p>خیر، فایل نصبِ اپفورال مشخصا برای یک دستگاه و آن هم دستگاه اول شما آماده و فعال شده است و امکان انتقال آن به دستگاه جدید به لحاظ فنی میسر نیست. البته شما می‌توانید با لاگین در <a target="_blank" href="/panel">پنل کاربری</a> دستگاه جدیدتان را به اکانتتان اضافه کنید که بالطبع مستلزم پرداخت آنلاین و فعالسازی مجدد خواهد بود. برای اطلاعات بیشتر به صفحه‌ی <a target="_blank" href="/tos">شرایط و مقررات استفاده</a> مراجعه بفرمایید.</p>
                </div>
            </div>

            <div class="articles-title">گارانتی پس‌دادن پول و پشتیبانی</div>
            <div class="question">
                <h2 class="faq-title">اگر اپفورال کار نکرد چه؟</h2>
                <div class="faq-answer">
                    <p>اپفورال <strong >گارانتی پس‌دادنِ پول</strong> بسیار منصفانه‌ای دارد. اگر به هر دلیل غیر از مواردی که در <a target="_blank" href="/tos">شرایط و مقررات استفاده</a> ذکر شده اپفورال آنطور که قرار بوده کار نکرد <strong>همه‌ی مبلغ پرداختی</strong> به شما برگشت داده می‌شود و عذرخواهی رسمی ما هم ضمیمه آن خواهد بود. با مطالعه‌ی شرایط و مقررات استفاده خواهید دید که تعداد مواردی که گارانتی بازگشت پول شامل کاربر نمی‌شود واقعا کم است و این قوانین تعمدا به نفع کاربران ما تنظیم شده تا خیالشان از این بابت کاملا راحت باشد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">آیا تیم پشتیبانی اپفورال همیشه آنلاین است؟</h2>
                <div class="faq-answer">
                    <p>تیم ما از ساعت ۸ لغایت ۱۷ در هفت روز هفته آماده پاسخگویی و حل مشکلات شماست. اگر مشکلی در خارج از این ساعات برای شما بوجود آمد لطفا برای ما ایمیل بفرستید، احتمال اینکه ایمیلتان سریع پاسخ داده شود کم نیست!</p>
                </div>
            </div>

            <div class="articles-title">برنامه‌های ارائه شده در اپفورال</div>
            <div class="question">
                <h2 class="faq-title">همه برنامه‌های دنیا روی اپفورال هست؟</h2>
                <div class="faq-answer">
                    <p>هم اکنون <a target="_blank" href="/#appsvitrine">هزاران برنامه محبوب</a> از طریق اپفورال قابل نصب است و به تعداد این برنامه‌ها بطور روزانه افزوده می‌شود. حتی اگر برنامه‌ای که لازم دارید هم اکنون در اپفورال وجود ندارد نگران نباشید چون اگر از برنامه‌های محبوب عموم کاربران باشد احتمال اینکه به زودی به اپفورال اضافه شود خیلی زیاد است. خود شما هم می‌توانید پیشقدم شوید و برنامه‌هایی که می‌خواهید را <a target="_blank" href="/#appsvitrine">جستجو کنید</a> و به ما اطلاع دهید تا در صف تهیه قرار بگیرد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title"> من مطمئن نیستم برنامه‌هایی که می‌خواهم توسط اپفورال قابل دانلود باشد، حتما باید اول پرداخت کنم تا بفهمم برنامه‌ی مورد نظرم هست یا نه؟</h2>
                <div class="faq-answer">
                    <p>البته که نه! شما حتی قبل از ثبت نام و پرداخت می‌توانید از طریق بخشِ <a target="_blank" href="/#appsvitrine">برنامه‌های موجود</a> در وبسایت ببینید که چه برنامه‌هایی در حال حاضر از طریق اپفورال قابل دانلود و نصب است.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title"> خیلی بد شد! چرا برنامه‌ای که من لازم داشتم در اپفورال وجود ندارد؟</h2>
                <div class="faq-answer">
                    <p>در حال حاضر هزاران برنامه‌ی محبوب توسط اپفورال قابل نصب است و روزانه به تعداد آنها اضافه می‌شود پس احتمال اینکه برنامه مورد نظر شما در روزهای آینده به اپفورال اضافه شود زیاد است بخصوص اگر برنامه‌ی محبوبی باشد! اگر عجله دارید کافیست نام برنامه را در
                    <a target="_blank" href="/#appsvitrine"> این بخش</a> جستجو کنید و در فرمی که ظاهر می‌شود نامش را برای ما بفرستید تا زودتر تهیه‌اش کنیم :)</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">من گیم بازی می‌کنم و ۱۷۸ مرحله پیشرفت داشته‌ام! اگر گیمم را مجددا از اپفورال بگیرم این همه مرحله‌ای که بازی کردم را باید دوباره تکرار کنم؟!
                </h2>
                <div class="faq-answer">
                    <p>بستگی به بازی‌اش دارد! این روزها خیلی از بازی‌های محبوب مثل Clash of Clans یا Batman Arkham City Lockdown امتیازات و پیشرفت‌های شما را روی آیفون یا آیپدتان نگهداری نمی‌کنند بلکه از امکانات Cloud و <a href="http://en.wikipedia.org/wiki/Game_Center" target="_blank">Game Center</a> استفاده می‌کنند لذا کافی است با اکانت گیم یا Apple ID تان مجدد لاگین کنید تا پیشرفتتان از دست نرود و حتی روی دستگاه‌های دیگر هم بتوانید بازی را ادامه دهید! دقت کنید که همه‌ی گیم‌ها هنوز چنین امکاناتی ندارند و اپفورال کنترلی روی نحوه نگهداری داده‌های گیم‌ها ندارد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">قیمتی که اپفورال برای یک برنامه زده با قیمتی که الان توی اپ استور می‌بینم یکی نیست، چرا؟</h2>
                <div class="faq-answer">
                    <p>سرورهای اپفورال بطور اتوماتیک و مرتب برنامه‌ها را از منابع مختلف دانلود و به لیست برنامه‌های موجود اضافه می‌کنند. ناشران برنامه‌ها می توانند در این فاصله به دلایل مختلف قیمت برنامه‌شان را در اپ‌استور کم یا زیاد کنند و در اینصورت اپفورال بلافاصله از این تغییرات باخبر نمی‌شود. البته جای نگرانی نیست چون با توجه به اینکه اپفورال به ازای هر برنامه مبلغی از شما دریافت نمیکند و شما صرفا پرداخت برای اشتراک دوره‌ایتان دارید، این تغییر قیمت‌ها هیچ تاثیری روی سرویسی که شما از اپفورال دریافت می‌کنید ندارد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">من برنامه نویس iOS هستم و از اینکه برنامه ام روی اپفورال قرار گرفته راضی نیستم. 
                </h2>
                <div class="faq-answer">
                    <p>سرورهای اپفورال بطور منظم و اتوماتیک برنامه‌های محبوب را از منابع مختلف دریافت می‌کنند. به شما اطمینان می‌دهیم که عمدی در ارائه برنامه شما نبوده جز محبوبیت برنامه‌تان که باعث شده توسط سرورهای اپفورال رصد شود! با این حال جهت حمایت از حقوق برنامه‌نویسان ایرانی در صورتی که از طریق <a target="_blank" href="/report">این لینک</a> مورد را به ما اعلام کنید، بلافاصله توسط تیم ما بررسی شده و در صورت احراز هویت شما به عنوان ناشر برنامه به سرعت از سرورهای ما حذف خواهد شد. </p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    بعد از مرحله دانلود یک برنامه داخل اپفورال نصب آن بلافاصله شروع می‌شود. چرا برای مرحله نصب هم من نیاز به اتصال اینترنت دارم؟
                </h2>
                <div class="faq-answer">
                    <p>اپفورال وضعیت اشتراک فعال شما را در بین مرحله دانلود و نصب چک می‌کند. این چک به دلایل امنیتی روی سرور و نه داخل اپلیکیشن اپفورال انجام می‌گیرد و لذا برای انجام آن نیاز به اتصال اینترنت دارید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    هنگام دانلود یک اپلیکیشن با حجم بالا گاهی لازم است دانلود متوقف و مثلا در زمانی دیگر از سرگرفته شود. آیا این امکان وجود دارد؟
                </h2>
                <div class="faq-answer">
                    <p>بله. در پروفایل برنامه پس از زدن دکمه نصب می‌توانید با زدن دکمه Pause دانلود را موقتا متوقف کنید و در ادامه با زدن دکمه ادامه‌ی دانلود(Resume) دانلود را از سربگیرید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    آیا با قطع و وصل شدن ناگهانی اینترنت دانلود اتوماتیک متوقف و سپس از سرگرفته می‌شود؟
                </h2>
                <div class="faq-answer">
                    <p>خیر. این امکان بطور کلی در iOS وجود ندارد هرچند شما می‌توانید طبق پاسخ سوال قبل خودتان دانلود را متوقف کرده و سپس از سربگیرید.</p>
                </div>
            </div>

            <div class="articles-title">هزینه‌ها</div>
            <div class="question">
                <h2 class="faq-title">هزینه استفاده از اپفورال چقدر است؟</h2>
                <div class="faq-answer">
                    <p>در اپفورال با خرید اشتراک دوره‌ای (در حال حاضر یک، سه یا شش ماهه)، به تعداد نامحدود و با حجم نامحدود می توانید دانلود کنید و هزینه‌ای به ازای دریافت تک برنامه‌ها پرداخت نخواهید کرد.
                    هزینه دوره‌های اشتراک را <a target="_blank" href="/#pricing">اینجا</a> می‌توانید ببینید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">آیا برای نصب برنامه‌های پولی توسط اپفورال باید هزینه جداگانه یا معادل ریالی آن را بپردازم؟</h2>
                <div class="faq-answer">
                    <p>به هیچ وجه! با خرید اشتراک دوره‌ای از اپفورال در طول دوره‌ی اشتراکتان بطور نامحدود به همه برنامه‌های پولی و رایگان دسترسی دارید و هیچ هزینه‌ای غیر از اشتراکتان لازم نیست بپردازید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    اگر خود اپفورال رو حذف کنم از دستگاهم آیا برای دوباره نصب کردنش باید هزینه‌ای بپردازم؟
                </h2>
                <div class="faq-answer">
                    <p>اصلا! مادامی‌که شما از اپفورال روی همان دستگاه قبلی استفاده کنید و دستگاهتان را Reset Factory نکرده باشید اپفورال همیشه قابل نصب مجدد است و این کار هزینه‌ای هم ندارد. کافیست ایمیلی را که در ابتدای اشتراکتان برای نصبِ اپفورال دریافت کرده بودید را پیدا کنید و دوباره روی لینکِ "نصب اپفورال" تاچ کنید. از آنجایی که دستگاه شما قبلا فعال‌سازی شده لذا فعال‌سازی مجدد لازم نیست. حتی ساده‌تر از این: اگر روی آیفون یا آیپدتان <a target="_blank" href="/panel">پنل کاربری اپفورال</a> را در Suserri باز کنید در   لیست "دستگاه‌های من" در کنار هر دستگاه یک گزینه‌ی "دانلود مجدد اپفورال" وجود دارد که با زدن آن اپفورال روی دستگاهتان نصب می شود.</p>
                </div>
            </div>

            <div class="articles-title">دوره‌ی اشتراک</div>
            <div class="question">
                <h2 class="faq-title">آیا با اتمام دوره‌ی اشتراکم برنامه‌هایی که از طریق اپفورال نصب کرده ام همچنان کار می‌کنند؟</h2>
                <div class="faq-answer">
                    <p>بله! تمام برنامه‌هایی که از طریق اپفورال نصب کرده‌اید حتی در صورت نداشتن اشتراک فعال کار می‌کنند، هرچند برای برخورداری از آپدیت‌های مداوم و نیز برنامه‌های جدیدی که هر روز به اپفورال اضافه می‌شود پیشنهاد می‌کنیم اشتراک خود را در پایان هر دوره تمدید کنید :)</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">آیا با اتمام دوره‌ی اشتراکم برنامه‌هایی که از طریق اپفورال نصب کرده‌ام را می‌توانم همچنان آپدیت کنم؟</h2>
                <div class="faq-answer">
                    <p>شما تنها زمانی آپدیت برنامه‌ها را می‌توانید دانلود کنید که اشتراک فعال اپفورال داشته باشید. یعنی علیرغم اینکه همچنان می‌توانید از برنامه‌های قبلا نصب شده استفاده کنید و حتی در داخل برنامه‌ی iOS اپفورال جستجو کنید ولی برای دانلود نیاز به اشتراک فعال اپفورال دارید. </p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title"> چطور اشتراکم را تمدید کنم؟</h2>
                <div class="faq-answer">
                    <p>ساده است! از طریق وب‌سایت با ایمیل و رمز عبوری که هنگام ثبت نام در اپفورال انتخاب کرده‌اید می‌توانید وارد
                        <a target="_blank" href="/panel">پنل کاربری</a>
                        خود شوید و اشتراک خود را آنجا تمدید کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    من اشتراک سه ماهه گرفته‌ام تاریخ شروع اشتراکم 1393/1/1 است و تاریخ اتمام اشتراکم 1393/3/28. چرا تاریخ اتمام اشتراکم 1393/3/30 نیست؟
                </h2>
                <div class="faq-answer">
                    <p>مطابق <a href="/tos" target="_blank">شرایط و مقررات استفاده</a> منظور از ماه، سی روز است. در نتیجه در ماه‌های کمتر از 30 روز، اتمام دوره جلو و در ماه‌های بیشتر از 30 روز اتمام دوره عقب‌ خواهد افتاد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">آیا اپفورال تخفیف هم می‌دهد؟</h2>
                <div class="faq-answer">
                    <p>اپفورال تخفیف های متنوعی برای کاربران مختلف در نظر گرفته که با توجه به مناسبت‌های مختلف و برای گروه‌های خاصی از کاربران ارایه می‌شود. اما همه کاربران همواره می‌توانند از تخفیف ریالی برای خرید‌های بیشتر از یک ماه بهره‌مند شوند. برای مثال، در حال حاضر، خرید 
                    <a target="_blank" href="/#pricing">اشتراک ۶ ماهه</a>، بیش از ۳۰ درصد تخفیف دارد!</p>
                </div>
            </div>

            <div class="articles-title">مشکلاتی که کاربران دیگر داشته‌اند</div>
            <div class="question">
                <h2 class="faq-title">من روی آيفون/آیپد خودم و از طریق برنامه Gamil، ایمیل‌های اپفورال را باز کرده‌ام و وقتی روی لینک باز می کنم، یک صفحه باز می شود اما اتفاقی نمی افتد.</h2>
                <div class="faq-answer">
                    <p>لطفا مطمئن شوید که برنامه Gmail شما آدرس را در Chrome باز نمی‌کند. اگر اینگونه است، روی لینک فشار دهید، تا گزینه Copy بیاید. بعد لینک را کپی کنید و به Suserri بروید و در Address Bar، آدرسی را که کپی کرده بودید، Paste کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">اپفورال برنامه را دانلود کرده اما در هنگام نصب، گوشی خطای Unable to download app را نشان می‌دهد.</h2>
                <div class="faq-answer">
                    <p>مطمئن شوید که در تنظیمات گوشی پروکسی تنظیم نشده باشد.  برای آشنایی با نحوه تشخیص پراکسی <a href="/blog/1393/09/%D9%86%D8%AD%D9%88%D9%87-%D8%AA%D8%B4%D8%AE%DB%8C%D8%B5-%D9%88%D8%B5%D9%84-%D8%A8%D9%88%D8%AF%D9%86-%D8%A8%D9%87-%D9%88%DB%8C-%D9%BE%DB%8C-%D8%A7%D9%86/">این پست</a> را در اپلاگ ببینید</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    وقتی می‌خواهم خود اپفورال یا برنامه‌ای از طریق اپفورال را نصب کنم از من کد ۴ رقمی (Pass Code) می‌خواهد چرا؟ 
                </h2>
                <div class="faq-answer">
                    <p>این کد ۴ رقمی کدیست که خود شما برای امنیت بیشتر روی دستگاهتان تعریف کرده‌اید. در صورتی که مایل به غیرفعال کردن آن هستید به برنامه‌ی Settings خود اپل مراجعه کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">اپفورال نصب شده و دیروز هم کار می‌کرد ولی امروز "خطا در شناساییِ آخرین وضعیت کاربر" می‌دهد!</h2>
                <div class="faq-answer">
                    <p>این پیام فقط در صورتی نمایش داده می‌شود که هنگام اجرای اپفورال اتصال به سرورهای ما به دلایلی همچون قطعی یا کندی اینترنتتان مقدور نباشد. لطفا اپفورال را ببندید و پس از مطمئن شدن از اتصالتان به اینترنت مجددا باز کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">چند ساعتی از ثبت نامم گذشته‌، ولی همچنان ایمیلی از اپفورال جهت فعال‌سازی دستگاه دریافت نکرده‌ام.</h2>
                <div class="faq-answer">
                    <p>اگر در گذشته ایمیلی از سمت اپفورال را اسپم کرده باشید‌، ممکن است چنین اتفاقی رخ دهد. برای حل مشکل‌ می‌توانید از طریق پنل کاربری و در بخش «مشخصات فردی» آدرس ایمیل خود را ویرایش کنید و سپس از بخش دستگاه‌های من و با استفاده از دکمهٔ «ارسال مجدد لینک فعال‌سازی» روند ثبت دستگاه را با ایمیل جدید پی بگیرید. اگر همچنان پس از تغییر ایمیل موفق به دریافت ایمیل از سمت اپفورال نشدید‌، مشکل را با تیم پشتیبانی در میان بگذارید.</p>
                </div>
            </div>

            <div class="articles-title"> ارتباط با اپل و سرویس‌های آن</div>
            <div class="question">
                <h2 class="faq-title">برای استفاده از اپفورال به Apple ID احتیاج دارم؟</h2>
                <div class="faq-answer">
                    <p>نه، برای اینکه اپفورال روی دستگاه شما اجرا شود نیازی به Apple ID ندارید. هرچند می‌توانید به آسانی از <a href="http://id.PROJECT.ir/" target="_blank">سرویس ایجاد Apple ID اپفورال</a>، به آسانی آن را ایجاد کنید. همه کاربران، چه آنهايي که Apple ID دارند و چه آنهايي که ندارند، مي‌توانند اپفورال را نصب کنند و لذت ببرند.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    آیا شرکت شما با اپل ارتباط کاری دارد؟ اصلا چرا اپفورال را راه انداختید؟
                </h2>
                <div class="faq-answer">
                    <p>شرکت اپفورال موجودیت حقوقی رسمی و ثبت شده در ایران و لذا تابع قوانین و مقررات کشورمان است و هیچگونه ارتباط کاری مستقیم یا غیرمستقیم با اپل ندارد. انگیزه اصلی ما از راه‌اندازی اپفورال، حل مشکلات متعددی بوده که از سمت شرکت اپل به دلیل مسائلی نظیر تحریم‌ها برای کاربران ایرانی ایجاد شده بود و همینطور هزینه‌های دلاری که باید بابت برنامه‌ها پرداخت می‌شد آن هم در حالی که عمده‌ی کاربران ایرانی دسترسی به کارتهای ویزا/مستر نداشته و ندارند. بارزترین نمونه از عدم سرویس‌دهی مناسب به کاربران ایرانی خطای معروف ۱۰۰۹ در هنگام دانلود حتی اپهای رایگان از اپ استور اپل است که بطور 
                    متناوب روی تجربه کاری کاربران ایرانی محصولات این شرکت اثر منفی می‌گذارد. توصیه میکنیم ویدئوی "<a target="_blank" href="/blog/1393/09/%da%86%d8%b1%d8%a7-%d8%a7%d9%be%d9%81%d9%88%d8%b1%d8%a7%d9%84%d8%9f/">چرا اپفورال؟</a>" را درباره انگیزه‌های اصلی راه‌اندازی اپفورال حتما تماشا کنید:)</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title"> من قبلا برنامه‌ای را از طریقِ اپ‌استور خود اپل نصب کرده‌ام اگر همان برنامه را از طریق اپفورال نصب کنم چه میشود؟
                </h2>
                <div class="faq-answer">
                    <p>نسخه‌ی اپ‌استور با نسخه‌ی اپفورال جایگزین می‌شود و شما می‌توانید آپدیت‌های بعدیِ آن را از طریق اپفورال دریافت کنید. هر زمان که خواستید می‌توانید نسخه‌ی آن برنامه که توسط اپفورال نصب شده را حذف کنید و مجددا از طریق اپ‌استور اپل دانلود کنید و هیچ مشکلی برای شما بوجود نخواهد آمد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">آیا برنامه‌ای که از طریق اپ‌استور نصب کرده‌ام توسط اپفورال قابل آپدیت است؟</h2>
                <div class="faq-answer">
                    <p>خیر، اپفورال و اپ‌استورِ اپل دو برنامه مشابه ولی کاملا مستقل از هم هستند. اپفورال نمی‌تواند برنامه‌هایی که از طریق اپ‌استور نصب کرده‌اید را آپدیت کند همانطور که اپ‌استور نیز نمی‌تواند برنامه‌هایی که از اپفورال گرفته‌اید را آپدیت کند.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">آیا برنامه‌ای که از طریق اپفورال نصب کرده‌ام توسط اپ‌استورِ اپل قابل آپدیت است؟</h2>
                <div class="faq-answer">
                    <p>خیر، اپفورال و اپ‌استورِ اپل دو برنامه مشابه ولی کاملا مستقل از هم هستند. اپ‌استورِ اپل نمی‌تواند برنامه‌هایی که از طریق اپفورال نصب کرده‌اید را آپدیت کند همانطور که اپفورال نیز نمی‌تواند برنامه‌هایی که از اپ‌استورِ اپل گرفته‌اید را آپدیت کند.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    آیا برنامه‌هایی که از طریق اپفورال نصب کرده‌ام قابل بک‌آپ گرفتن با آیتونز هستند؟
                </h2>
                <div class="faq-answer">
                    <p>خیر ولی اگر برنامه‌ای را به اشتباه حذف کرده‌اید نگران نباشید! نیازی به دانلود مجدد و صرف اینترنت نیست: با مراجعه به پروفایل برنامه‌هایی که از طریق اپفورال قبلا نصب کرده‌اید متوجه می‌شود که فایل برنامه هنوز در گوشی شما وجود دارد لذا حتی اگر برنامه را بیرون از اپفورال حذف کرده باشید از طریق گزینه‌ی "نصب" که در پروفایل آن است بدون صرف وقت و اینترنت می‌توانید خیلی سریع دوباره نصبش کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    پس منافع شرکت اپل چه می‌شود؟
                </h2>
                <div class="faq-answer">
                    <p>اولویت اول ما حفظ منافعِ هموطنانمان بوده که با صرف هزینه‌های سنگین سخت‌افزار اپل را خریداری کرده ولی راهی برای استفاده‌ی کامل از این خرید خود نداشتند. قطعا اگر قرار بر انتخاب بین منافع تضییع شده هموطنانمان و سود شرکت اپل باشد مورد اول را انتخاب میکنیم هرچند به جد معتقدیم وجود سرویسی نظیر اپفورال که دانلود برنامه‌های iOS را بسیار ساده می‌سازد نه تنها به منافع اپل در ایران لطمه نمی‌زند بلکه باعث راغب‌تر شدن عموم مردم به خرید سخت‌افزار‌های این شرکت نیز میگردد. به هر حال سخت‌افزارهای اپل از کانالهای بسیار وارد ایران شده و می‌شوند و وجود سرویس مکمل نرم‌افزاری نظیر اپفورال باعث می‌شود اندک تردید باقی‌مانده در ذهن خریداران بالقوه از بین برود.
                    نکته‌ دیگری که در این بین گاها مغفول می‌ماند این است که اساسا شرکت اپل به دلایل خودخواسته یا تن دادن به تحریم‌های غیرعادلانه سهمی از اپ‌استور ایرانی بطور مستقیم ندارد لذا راه اندازی اپفورال نمی‌تواند موجب ضربه زدن به منافع ناموجود این شرکت در حال حاضر شود. بدیهی است به محض ورود قانونی اپل به بازار کشورمان ما نیز ضمن استقبال از این حرکت خط مشی خود را متناسب با مقتضیات آن روز تغییر خواهیم داد. تا آن روز اپفورال ماموریت خود را ارائه سرویسی کامل و بی‌نقص برای کاربران ایرانی تعریف کرده چرا که معتقدیم شان و جایگاه کاربر ایرانی بالاتر از مواجهه روزانه با خطای ۱۰۰۹ و سرویس‌های ناامن و متفرقه‌ی چینی است.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    آیا با نصب اپفورال من کاری غیرقانونی از نظر اپل انجام می‌دهم؟ نکنه با نصب اپفورال اتفاق بدی برای دستگاه من بیفته!          
                </h2>
                <div class="faq-answer">
                    <p>از نظر اپل نصب اپفورال به همان اندازه غیرقانونی است که خرید آيفون یا آیپد از کانالهای غیر از شبکه‌ی فروش رسمی اپل! یا همان اندازه غیرقانونی است که سپردن دستگاه نزد فروشندگان سخت‌افزار برای نصب پکیج‌های برنامه! و قطعا کمتر از جیلبریک کردن دستگاهتان. در هیچ کدام از این موارد اپل اقدامی علیه شما انجام نداده و با نصب اپفورال نیز امکان اقدام علیه شما به لحاظ حقوقی (در ایران) یا غیرفعال کردن امکانات دستگاه برای شما وجود ندارد. در واقع اپفورال و اپ‌استور اپل در کنار هم می‌توانند به خوبی و خوشی کار کنند و هیچکدام مشکلی برای دیگری ایجاد نمی‌کنند. اگر بخواهیم کمی غیرحقوقی/فنی و از نگاه فلسفی‌تر به مساله نگاه کنیم شما مبلغ زیادی بابت سخت‌افزارتان پرداخته‌اید و مالک آن هستید و حق تصمیم‌گیری درباره اینکه چه چیزی روی آن نصب کنید یا نکنید باید با شما باشد :) از این منظر، ما و عده‌ی زیادی معتقدند که برای مالک قانونی یک آیفون -ضمن حفظ احترام!- تفاوتی با مایکروفر خانه ندارد و حق هر تغییری را باید روی آن داشته باشیم.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    آیا اپفورال هزینه‌ای به AppStore بابت فراهم کردن اپهای پولی پرداخت می‌کند؟ 
                </h2>
                <div class="faq-answer">
                    <p>نه همیشه. بعضی از برنامه‌های پولی را ما مستقیما و یکبار (نه به ازای هر دانلود) از AppStore خریداری می‌کنیم و در اختیار همه کاربران اپفورال قرار می‌دهیم. ولی بسیاری از اپهای دیگر را از کانالهای غیر از AppStore تهیه می‌کنیم. البته تمامی اپهایی که از هر کانالی فراهم شده باشند را سعی میکنیم تست کنیم و از صحت عملکرد آنها مطمئن شویم.</p>
                </div>
            </div>




            <div class="articles-title">سوالات رایـــــج MyApp</div>
            <div class="question">
                <h2 class="faq-title">
                    MyApp چیست؟
                </h2>
                <div class="faq-answer">
                    <p>MyApp راهکاری مطمئن برای خرید نرم‌افزارهای Apple Store با سامانه‌های پرداختی به صورت ریالی است.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    چه مشکلاتی برای کاربران Apple بود که باعث شد اپفورال ایجاد بشه؟
                </h2>
                <div class="faq-answer">
                    <p>با توجه به استقبال هموطنان عزیز از دستگاه‌های Apple، متاسفانه همیشه دسترسی به نرم‌افزارهای غیر رایگان Apple Store برای کاربران عزیز مشکل ساز بوده است، از این جهت برآن شدیم که شرایطی را مهیا کنیم که کاربران بتوانند از طریق پرداخت از سامانه‌های بانکی کشور، امکان دسترسی به نرم‌افزارهای Apple Store را به صورت قانونی داشته باشند.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    چرا باید MyApp را انتخاب کنم؟
                </h2>
                <div class="faq-answer">
                    <p>دسترسی به نرم‌افزارهای مورد نظر شما، سریعتر انجام خواهد‌ شد، از پشتیبانی فنی بهره خواهید برد و کارمزد کمی در خصوص هر نرم‌افزار پرداخت می کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                     آیااین سرویس قانونیه؟
                </h2>
                <div class="faq-answer">
                    <p> بله، خرید نرم‌افزار از روش MyApp فقط برای سهولت کاربران از  بستر اپفـورال به صورت مستقیم از Apple Store انجام می شود و کاملا قانونی است و MyApp تنها واسطه‌ای برای سهولت در کار کاربران است.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    مراحل خرید و ثبت نام MyApp چطوریه؟
                </h2>
                <div class="faq-answer">
                    <p>براي اطلاع از مراحل انجام کار و راهنماي استفاده مي توانيد <a href="https://www.PROJECT.ir/blog/1394/03/334/" target="_blank">اينجا</a> کليک کنيد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    برای خرید نرم افزار از طریق MyApp حتما باید Apple ID داشته باشیم؟
                </h2>
                <div class="faq-answer">
                    <p>بله، براي استفاده از خدمات MyApp حتما بايد Apple ID امريکا داشته باشيد.برای ساخت آسان اپل‌آیدی رایگان <a href="http://id.PROJECT.ir/" target="_blank">اینجا</a> کلیک کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                     اگر نرم‌افزاری که خریداری کردم پاک شد یا به هر دلیل نتونستم ازش استفاده کنم تکلیف کار من چیه؟
                </h2>
                <div class="faq-answer">
                    <p>خرید شما از Apple Store انجام خـواهد شد، زمانی که به هر علتی قادر به استفاده از نرم‌افزار نبودید نیازی به خرید مجدد نیست و می توانید از Apple Store ، برنامه را مجدد دریافت کنید، حتی زمانی که اپفورال روی دستگاه شما نصب نباشد این کار برای شما امکان پذیر خواهد بود.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                     Update نرم‌افزارهای که خریدم چطوری انجام می شه؟
                </h2>
                <div class="faq-answer">
                    <p>از داخل Apple Store  قادر خواهید بود نرم‌افزارهای خود را بدون هیچ مشکلی Update کنید</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    آیا فقط وقتی  که PROJECT داشته باشم، نرم‌افزارهایی که خریدم وUpdate های آن قابل استفادست؟ 
                </h2>
                <div class="faq-answer">
                    <p>خرید و تهیه نرم‌افزار از طریق MyApp چون به صورت قانونی از Apple Store انجام می‌شود حتی زمانی که اپفورال هم نداشته باشید از طریق Apple Store می‌توانید Update کنید.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    تضمینی در خصوص خرید و امنیت در پرداخت وجود داره؟
                </h2>
                <div class="faq-answer">
                    <p> بله تمامی پرداخت هایی که از داخل اپفورال و از طریق درگاه بانکی انجام می‌شود از امنیت کامل برخوردار بوده و از لحاظ امنیت، توسط پشتیبانی  بانک و اپفورال تضمین می‌گردد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    ایا اپفورال مسئولیتی در خصوص محتوای نرم‌افزارها داره؟
                </h2>
                <div class="faq-answer">
                    <p>خیر. کلیه نرم‌افزارهایی که در داخل اپفورال قرار می‌گیرند از اپ‌استور استخراج شده و محتوای  آنها توسط ناشرین آن تعیین خواهد شد، بنابراین اپفورال، به منظور تسهیل در دسترسی کاربران به نرم‌افزار های اپ‌استور ایجاد شده و مسئولیتی در خصوص محتوای ایجاد شده توسط ناشرین اپلیکشن ها ندارد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                     اگر نرم‌افزاری را به اشتباه بخرم امکان برگشت هزینه وجود داره یا می‌تونم با نرم‌افزار دیگه‌ای جایگزینش کنم؟
                </h2>
                <div class="faq-answer">
                    <p>خیر. با توجه به اینکه مای‌اپ فرایند خرید قانونی اپلیکیشن‌های اپ‌استور رو تسهیل می کند، امکان تعویض و بازگرداندن نرم‌افزارها وجود ندارد.</p>
                </div>
            </div>



            
            <div class="articles-title">کپی‌رایت</div>
            <div class="question">
                <h2 class="faq-title">
                    آیا شرکت شما با اپل ارتباط کاری دارد؟ اصلا چرا اپفورال را راه انداختید؟
                </h2>
                <div class="faq-answer">
                    <p>شرکت اپفورال موجودیت حقوقی رسمی و ثبت شده در ایران و لذا تابع قوانین و مقررات کشورمان است و هیچگونه ارتباط کاری مستقیم یا غیرمستقیم با اپل ندارد. انگیزه اصلی ما از راه‌اندازی اپفورال، حل مشکلات متعددی بوده که از سمت شرکت اپل به دلیل مسائلی نظیر تحریم‌ها برای کاربران ایرانی ایجاد شده بود و همینطور هزینه‌های دلاری که باید بابت برنامه‌ها پرداخت می‌شد آن هم در حالی که عمده‌ی کاربران ایرانی دسترسی به کارتهای ویزا/مستر نداشته و ندارند. بارزترین نمونه از عدم سرویس‌دهی مناسب به کاربران ایرانی خطای معروف ۱۰۰۹ در هنگام دانلود حتی اپهای رایگان از اپ استور اپل است که بطور 
                        متناوب روی تجربه کاری کاربران ایرانی محصولات این شرکت اثر منفی می‌گذارد. توصیه میکنیم ویدئوی "<a target="_blank" href="/blog/1393/09/%da%86%d8%b1%d8%a7-%d8%a7%d9%be%d9%81%d9%88%d8%b1%d8%a7%d9%84%d8%9f/">چرا اپفورال؟</a>" را درباره انگیزه‌های اصلی راه‌اندازی اپفورال حتما تماشا کنید:)</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    پس منافع شرکت اپل چه می‌شود؟
                </h2>
                <div class="faq-answer">
                    <p>اولویت اول ما حفظ منافعِ هموطنانمان بوده که با صرف هزینه‌های سنگین سخت‌افزار اپل را خریداری کرده ولی راهی برای استفاده‌ی کامل از این خرید خود نداشتند. قطعا اگر قرار بر انتخاب بین منافع تضییع شده هموطنانمان و سود شرکت اپل باشد مورد اول را انتخاب میکنیم هرچند به جد معتقدیم وجود سرویسی نظیر اپفورال که دانلود برنامه‌های iOS را بسیار ساده می‌سازد نه تنها به منافع اپل در ایران لطمه نمی‌زند بلکه باعث راغب‌تر شدن عموم مردم به خرید سخت‌افزار‌های این شرکت نیز میگردد. به هر حال سخت‌افزارهای اپل از کانالهای بسیار وارد ایران شده و می‌شوند و وجود سرویس مکمل نرم‌افزاری نظیر اپفورال باعث می‌شود اندک تردید باقی‌مانده در ذهن خریداران بالقوه از بین برود.
                    نکته‌ دیگری که در این بین گاها مغفول می‌ماند این است که اساسا شرکت اپل به دلایل خودخواسته یا تن دادن به تحریم‌های غیرعادلانه سهمی از اپ‌استور ایرانی بطور مستقیم ندارد لذا راه‌اندازی اپفورال نمی‌تواند موجب ضربه‌زدن به منافع ناموجود این شرکت در حال حاضر شود. بدیهی است به محض ورود قانونی اپل به بازار کشورمان ما نیز ضمن استقبال از این حرکت خط مشی خود را متناسب با مقتضیات آن روز تغییر خواهیم داد. تا آن روز اپفورال ماموریت خود را ارائه سرویسی کامل و بی‌نقص برای کاربران ایرانی تعریف کرده چرا که معتقدیم شان و جایگاه کاربر ایرانی بالاتر از مواجهه روزانه با خطای ۱۰۰۹ و سرویس‌های ناامن و متفرقه‌ی چینی است.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    خب حرفتان در مورد اپل درست ولی منافع برنامه‌نویسانی که برنامه‌ی پولی منتشر کرده‌اند چه می‌شود؟
                </h2>
                <div class="faq-answer">
                    <p>حرف شما کاملا درست است و ما نیز به عنوان بخشی از همین جامعه‌ی برنامه‌نویسان هیچوقت حاضر نبوده و نیستیم که منافع برنامه‌نویسان و ناشرانی که نقشی در تحریم‌ها نداشته‌اند تضییع شود هرچند خودمان را قیم و تصمیم‌گیرنده به‌جای عموم کاربران نیز نمی‌دانیم. در حال حاضر سیاست شفاف اپفورال عدم‌ارائه‌ی برنامه‌های پولیِ تولیدی توسط برنامه‌نویسان ایرانی است و حتی در صورتی‌که این برنامه‌ها بطور ناخواسته توسط سرورهای ما گردآوری شده باشند، در صورت <a target="_blank" href="/report">درخواست</a> ناشر  یا برنامه‌نویس یا متوجه شدن تیم اپفورال بلافاصله از لیست برنامه‌های ما حذف می‌شوند.
                    در آینده‌ی نزدیک سرویس‌های مکملی توسط اپفورال منتشر خواهد شد که به شما اجازه می‌دهد در صورت خرید تک برنامه از اپفورال مبلغ معادل ریالی با قیمت در اپ‌ستور را بپردازید تا آن برنامه‌ی خاص برای شما خریداری شود و از این راه برنامه‌نویس و ناشر ایرانی یا غیرایرانی نیز منتفع گردد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">من برنامه نویس iOS هستم و از اینکه برنامه ام روی اپفورال قرار گرفته راضی نیستم. 
                </h2>
                <div class="faq-answer">
                    <p>سرورهای اپفورال بطور منظم و اتوماتیک برنامه‌های محبوب را از منابع مختلف دریافت می‌کنند. به شما اطمینان می‌دهیم که عمدی در ارائه برنامه شما نبوده جز محبوبیت برنامه‌تان که باعث شده توسط سرورهای اپفورال رصد شود! با این حال جهت حمایت از حقوق برنامه‌نویسان ایرانی در صورتی که از طریق <a target="_blank" href="/report">این لینک</a> مورد را به ما اعلام کنید، بلافاصله توسط تیم ما بررسی شده و در صورت احراز هویت شما به عنوان ناشر برنامه به سرعت از سرورهای ما حذف خواهد شد.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    آیا با نصب اپفورال من کاری غیرقانونی از نظر اپل انجام می‌دهم؟ نکنه با نصب اپفورال اتفاق بدی برای دستگاه من بیفته!          
                </h2>
                <div class="faq-answer">
                    <p>از نظر اپل نصب اپفورال به همان اندازه غیرقانونی است که خرید آيفون یا آیپد از کانالهای غیر از شبکه‌ی فروش رسمی اپل! یا همان اندازه غیرقانونی است که سپردن دستگاه نزد فروشندگان سخت‌افزار برای نصب پکیج‌های برنامه! و قطعا کمتر از جیلبریک کردن دستگاهتان. در هیچ کدام از این موارد اپل اقدامی علیه شما انجام نداده و با نصب اپفورال نیز امکان اقدام علیه شما به لحاظ حقوقی (در ایران) یا غیرفعال کردن امکانات دستگاه برای شما وجود ندارد. در واقع اپفورال و اپ‌استور اپل در کنار هم می‌توانند به خوبی و خوشی کار کنند و هیچکدام مشکلی برای دیگری ایجاد نمی‌کنند. اگر بخواهیم کمی غیرحقوقی/فنی و از نگاه فلسفی‌تر به مساله نگاه کنیم شما مبلغ زیادی بابت سخت‌افزارتان پرداخته‌اید و مالک آن هستید و حق تصمیم‌گیری درباره اینکه چه چیزی روی آن نصب کنید یا نکنید باید با شما باشد :) از این منظر، ما و عده‌ی زیادی معتقدند که برای مالک قانونی یک آیفون -ضمن حفظ احترام!- تفاوتی با مایکروفر خانه ندارد و حق هر تغییری را باید روی آن داشته باشیم.</p>
                </div>
            </div>
            <div class="question">
                <h2 class="faq-title">
                    آیا اپفورال هزینه‌ای به AppStore بابت فراهم کردن اپهای پولی پرداخت می‌کند؟ 
                </h2>
                <div class="faq-answer">
                <p>نه همیشه. بعضی از برنامه‌های پولی را ما مستقیما و یکبار (نه به ازای هر دانلود) از AppStore خریداری می‌کنیم و در اختیار همه کاربران اپفورال قرار می‌دهیم. ولی بسیاری از اپهای دیگر را از کانال‌های غیر از AppStore تهیه می‌کنیم. البته تمامی اپ‌هایی که از هر کانالی فراهم شده باشند را سعی میکنیم تست کنیم و از صحت عملکرد آنها مطمئن شویم.</p>
                </div>
            </div>

        </section><!--single-page-body-->

</main>
{% endblock %}
