{% extends "base.html" %}

{% block style %}
<!-- <link href="/static/css/single.css" media="all" rel="stylesheet" > -->
<link href="/assets/css/single.min.css" media="all" rel="stylesheet" >
{% endblock %}

{% block download %}{% endblock %}

{% block main %}
<main class="features-page">
	<section class="container">
		<section class="features-body">
			<div class="features-title"><h1>امکانات اپفورال</h1></div>
			<div class="row odd the-feature row-download">
				<div class="col-1-6">
					<img src="static/images/features-icon-download.png">
				</div>
				<div class="col-1-6">
					<div class="text fa">
						<h1><span>دانلود رایگان بیش از 13.000 برنامه برای آیفون و آیپد</span></h1>
						<p>بیش از  13.000 برنامه پولی و رایگان در اپفورال قرار دارد که می توانید بصورت نامحدود از بین آن ها دانلود و بر روی آیفون یا آیپد خود نصب نمائید.
ما هر روز برنامه های جدیدی به این لیست اضافه و آنها را بروز می کنیم تا بتوانید به بهترین برنامه های اپ استور دسترسی داشته باشید.</p>
					</div>
				</div>
			</div>
			<div class="row the-feature row-buy">
				<div class="col-1-6">
					<img src="static/images/features-icon-buy.png">
				</div>
				<div class="col-1-6">
					<div class="text">
						<h1><span>خرید ریالی تمامی برنامه های اپ استور</span></h1>
						<p>شما می توانید با جستجو در بین تمامی برنامه های موجود در اپ استور، با پرداخت معادل ریالی قیمت آن بوسیله کلیه کارت های عضو شبکه شتاب، کلیه برنامه های اپ استور آمریکا را در کمترین زمان، بصورت کاملا امن و قانونی خریداری کنید. برای استفاده از این قابلیت در صورتی که اپل آی دی آمریکا ندارید می توانید در اینجا در کمترین زمان و بصورت رایگان، اپل آی دی بسازید.</p>
					</div>
				</div>
			</div>
			<div class="row odd the-feature row-PROJECT2">
				<div class="col-1-6">
					<img src="static/images/features-icon-PROJECT2.png">
				</div>
				<div class="col-1-6">
					<div class="text">
						<h1><span>ساخت اپل آی دی رایگان</span></h1>
						<p>برای استفاده از قابلیت های آیفون یا آی پد، نیازمند یک حساب کاربری اپل هستید. متاسفانه با توجه به محدودیت های موجود شاهد این هستیم که برای ساخت اپل آی دی که هزینه ای ندارد، مبالغ مختلفی از کاربران دریافت می شود. ما با ایجاد یک سیستم امن و سریع و البته بدون دریافت هیچ مبلغی، برای شما اپل آی دی می سازیم. کافیست به <a target="_blank" href="http://id.PROJECT.ir/">اینجا</a> مراجعه کنید.</p>
					</div>
				</div>
			</div>
			<div class="row the-feature newsletter">
				<div class="col-1-6">
					<img src="static/images/features-icon-newsletter.png">
				</div>
				<div class="col-1-6">
					<div class="text">
						<h1><span>معرفی بهترین های اپل و اپ استور</span></h1>
<p>هدف ما ارائه بهترین برنامه ها به شما کاربران گرامی است. به همین منظور با دنبال کردن ما در شبکه های اجتماعی نظیر <a target="_blank" href="http://instagram.com/PROJECTHQ">اینستاگرام</a>، <a target="_blank" href="http://twitter.com/PROJECTHQ">توییتر</a>، <a target="_blank" href="http://www.facebook.com/PROJECTHQ">فیسبوک</a> و <a target="_blank" href="https://telegram.me/PROJECTHQ">تلگرام</a> و یا با مطالعه <a target="_blank" href="https://www.PROJECT.ir/blog/">وبلاگ</a> اپفورال می توانید هر روز با برنامه های جدیدی آشنا شوید. همچنین با عضویت در خبرنامه می توانید در پایان هر ماه، پرطرفدارترین برنامه های ماه گذشته در بین کاربران اپفورال را دریافت کنید.</p>
					</div>
				</div>
			</div>
		</section>
	</section>
</main>
{% endblock %}
