<footer class="page-footer fa">
	<section class="container">
		<div class="row">
			<div class="col-1-2 footer-link1">
				<nav class="footer-box">
					<ul>
						<li><a href="/">صفحه نخست</a></li>
						<li><a href="/vitrine/">برنامه های موجود</a></li>
						<li><a href="/features">امکانات</a></li>
						<li><a href="/blog">وبلاگ</a></li>
						<li><a href="http://id.PROJECT.ir">ساخت Apple ID رایگان</a></li>
					</ul>
				</nav>
			</div><!--footer-link1-->
			<div class="col-1-2 footer-link2">
				<nav class="footer-box">
					<ul>
						<li><a href="/faq">سوالات متداول</a></li>
						<li><a href="/tos">قوانین و مقررات</a></li>
						<li><a href="/contact">تماس با ما</a></li>
					</ul>
				</nav>
			</div><!--footer-link2-->
			<div id="subscription" class="col-1-5 footer-newsletter">
				<div class="footer-box">
					<div class="box-title">خبرنامه هفتگی</div>
					<p class="newsletter-text">هر هفته با محبوبترین برنامه ها و بازی های کاربران ایرانی آشنا شوید.</p>
					<div class="newsletter-box">
						<input type="mail" placeholder="ایمیل شما" class="input newsletter-input">
						<input type="submit" value="عضویت" class="ibtn newsletter-submit">
					</div>
					<div class="loader-box" style="display:none">
						لطفا چند لحظه صبر کنید...
					</div>
					<div class="error" style="display:none">
						خطایی در ثبت‌نام شما در خبرنامه رخ داد :(
					</div>
					<div class="success" style="display:none">
						شما در خبرنامه اپفورال عضو شدید :)
					</div>
				</div>
			</div><!--footer-newsletter-->
			<div class="col-1-3 footer-social">
				<div class="footer-box lefty">
					<div class="box-title">اپفورال در شبکه های اجتماعی</div>
					<div class="social-box">
						<a target="_blank" href="http://www.facebook.com/PROJECTHQ" class="social-icon facebook"></a>
						<a target="_blank" href="http://twitter.com/PROJECTHQ" class="social-icon twitter"></a>
						<a target="_blank" href="http://instagram.com/PROJECTHQ" class="social-icon instagram"></a>
						<a target="_blank" href="https://telegram.me/PROJECTHQ" class="social-icon telegram"></a>
					</div>
				</div>
			</div><!--footer-social-->
		</div>
	</section><!--container-->
	<section class="footer-bottom">
		<p>تمامی خدمات این سایت، حسب مورد دارای مجوزهای لازم از مراجع مربوطه می‌باشند و فعالیت‌های این سایت تابع قوانین و مقررات جمهوری اسلامی ایران است.</p>
		<p class="i-love-PROJECT">
			ساخته شده با <i class="hearth"></i> در ایران
		</p>
	</section><!--footer-bottom-->
</footer>
