<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>تخفیف ۵۱٪ عید فطر | اپفورال</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/static/landings/fetr/css/normalize.css">
        <link rel="stylesheet" href="/static/landings/fetr/css/main.css">
        <script src="/static/landings/fetr/js/vendor/modernizr-2.8.3.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <section class="header">
            <div class="header-logo">
                <div class="arc-line"></div>
                <a href="" alt=""><div class="logo"></div></a>
            </div>
        </section>
        <section class="event-banner">
            <div class="event-banner-msg">
                <img class="event-banner-img" src="/static/landings/fetr/img/happy-fetr.png">
                <div class="dashed-line"></div>
            </div>
        </section>
        <section class="countdown">
            <div class="countdown-box">
                <div class="discount-header">
                    <span class="discount-value">۵۱%</span><span class="discount-text">تخفیف ویژه در خرید اشتراک از اپفورال</span>
                </div>
                <div class="timer">
                    <span class="timer-title">
                        <span class="sec">ثانیه</span>
                        <span class="min">دقیقه</span>
                        <span class="hour">ساعت</span>
                    </span>
                    <span class="timer-count">
                        <span class="hour">0</span>                        
                        <span class="hour1">0</span>
                        <span class="min">0</span>                        
                        <span class="min1">0</span>
                        <span class="sec">0</span>                        
                        <span class="sec1">0</span>                        
                    </span>
                </div>
                <div class="discount-footer">فرصت دارید تا از تخفیف استفاده کنید</div>
            </div>
        </section>
        <section class="apps-list">
            <div class="lists">
                <ul>
                    <a href="https://www.PROJECT.ir/vitrine/482361332"><li class="appbpx">
                        <span class="appicon">
                            <img src="/static/landings/fetr/img/icons/482361332.jpg" alt="">
                        </span>
                        <span class="appinfo">
                            <h3>Deluxe Moon Pro</h3>
                            <span class="category">Weather</span>
                        </span>
                    </li>
                    </a>                    
                    <a href="https://www.PROJECT.ir/vitrine/562770595"><li class="appbpx">
                        <span class="appicon">
                            <img src="/static/landings/fetr/img/icons/562770595.jpg" alt="">
                        </span>
                        <span class="appinfo">
                            <h3>Quran Plus</h3>
                            <span class="category">Refrence</span>
                        </span>
                    </li>
                    </a>
                    <a href="https://www.PROJECT.ir/vitrine/412707650"><li class="appbpx">
                        <span class="appicon">
                            <img src="/static/landings/fetr/img/icons/412707650.jpg" alt="">
                        </span>
                        <span class="appinfo">
                            <h3>250 Islamic Stories (Pro)</h3>
                            <span class="category">Book</span>
                        </span>
                    </li>
                    </a>
                    <a href="https://www.PROJECT.ir/vitrine/563718995"><li class="appbpx">
                        <span class="appicon">
                            <img src="/static/landings/fetr/img/icons/563718995.jpg" alt="">
                        </span>
                        <span class="appinfo">
                            <h3>Bloons TD 5</h3>
                            <span class="category">Games</span>
                        </span>
                    </li>
                    </a>
                    <a href="https://www.PROJECT.ir/vitrine/484090401"><li class="appbpx">
                        <span class="appicon">
                            <img src="/static/landings/fetr/img/icons/484090401.jpg" alt="">
                        </span>
                        <span class="appinfo">
                            <h3>Akinator the Genie</h3>
                            <span class="category">Entertainment</span>
                        </span>
                    </li>
                    </a>
                    <a href="https://www.PROJECT.ir/vitrine/950812012"><li class="appbpx">
                        <span class="appicon">
                            <img src="/static/landings/fetr/img/icons/950812012.jpg" alt="">
                        </span>
                        <span class="appinfo">
                            <h3>Alto's Adventure</h3>
                            <span class="category">Games</span>
                        </span>
                    </li>
                    </a>
                    <a href="https://www.PROJECT.ir/vitrine/464024747"><li class="appbpx">
                        <span class="appicon">
                            <img src="/static/landings/fetr/img/icons/464024747.jpg" alt="">
                        </span>
                        <span class="appinfo">
                            <h3>Sygic Iran: GPS Navigation</h3>
                            <span class="category">Navigation</span>
                        </span>
                    </li>
                    </a>
                    <a href="https://www.PROJECT.ir/vitrine/493136154"><li class="appbpx">
                        <span class="appicon">
                            <img src="/static/landings/fetr/img/icons/493136154.jpg" alt="">
                        </span>
                        <span class="appinfo">
                            <h3>Clear – Tasks, Reminders & To-Do Lists</h3>
                            <span class="category">Productivity</span>
                        </span>
                    </li>
                    </a>
                    <a href="https://www.PROJECT.ir/vitrine/442911228"><li class="appbpx">
                        <span class="appicon">
                            <img src="/static/landings/fetr/img/icons/442911228.jpg" alt="">
                        </span>
                        <span class="appinfo">
                            <h3>Oxford Advanced Learner’s Dictionary</h3>
                            <span class="category">Refrence</span>
                        </span>
                    </li>
                    </a>

                </ul>
            </div>
        <div class="etc">و بیش از ۱۲۰۰۰ برنامهٔ iOS دیگر…</div>
        </section>
        <section class="signup">
            <div class="dashed-line"></div>
            <a href="/?referredBy=fetr-1394#register">
            <div class="signup-btn">
                <span class="right">همیــن حالا، <br>ثبت نام کنید!</span>
                <span class="center"></span>
                <span class="left">
                    دانلود نامحدود برنامه‌ها<br>
                    خرید ریالی از اپ استور<br>
                    دسترسی به هزاران برنامه
                </span>
            </div></a>
        </section>
        <section class="footer">
            <div class="share">
                <a href="http://instagram.com/PROJECTHQ"><div class="instagram"></div></a>
                <a href="http://www.facebook.com/PROJECTHQ"><div class="facebook"></div></a>
                <a href="http://twitter.com/PROJECTHQ"><div class="twitter"></div></a>
            </div>
            <div class="links">
                <ul>
                    <li><a href="/#introduction">معرفی اپفورال</a></li>
                    <li><a href="/#register">اشتراک</a></li>
                    <li><a href="/#pricing">هزینه ثبت نام</a></li>
                    <li><a href="/#newsletter">تماس با ما</a></li>
                </ul>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/landings/fetr/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="/static/landings/fetr/js/plugins.js"></script>
        <script src="/static/landings/fetr/js/main.js"></script>
        <script src="/static/landings/fetr/js/countdown.js"></script>
        <script src="/static/landings/fetr/js/setcountdown.js"></script>
        <script src="js/analytics.js"></script>
    </body>
</html>
