{% extends "base.html" %}

{% block style %}
<link href="/static/landings/game/css/style.css" media="all" rel="stylesheet" >
<link href="/static/css/flipclock.css" media="all" rel="stylesheet" >
{% endblock %}

{% block login %}{% endblock %}

{% block main %}
<main>
    <section class="content">
        <section class="container">
            <div class="box bundles">
                <div class="title-box">
                <span class="aki"><img src="static/landings/game/images/aki.png"></span>
                    <span class="title">دانلود نامحدود و رایـگان برترین بازی‌ها<br> هیجان، ورزشـی، سرگرمی و فکـری</span>
                    <span class="sub-title"> و بیش از ۱۳۰۰۰ برنامه‌ی دیگر برای آیفون و آیپد <br>با امکان خرید ریالی تمامی برنامه‌های اپ‌استور آمریکا</span>
                </div>

                <div class="apps">
                    <ul>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/940702381">
                                <img src="https://repo.PROJECT.ir/static/940/702/381/data/160.jpg">
                                <span class="app-title-en">FIFA 16 Ultimate Team™</span>
                                <span class="app-info">
                                    تازه‌ترین نسخه شبیه‌ساز فوتبال محبوب فیفا که نوآوری‌های بسیاری نسبت به نسخه پیشین دارد
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/667362389">
                                <img src="https://repo.PROJECT.ir/static/667/362/389/data/667362389.160.jpg">
                                <span class="app-title-en">The Room Two</span>
                                <span class="app-info">
                                    در فضایی ترسناک ، برای فرار از هر اتاق باید معمایی پیچیده را حل کنید
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/284819997">
                                <img src="https://repo.PROJECT.ir/static/284/819/997/data/160.jpg">
                                <span class="app-title-en">IGN: Video Game News, Reviews</span>
                                <span class="app-info">
                                    اخبار دنیای بازی‌ها، عکس‌ها و ویدیوهای اختصاصی، آموزش‌های بازی‌های قدیمی و جدید و هر چیز دیگر که در دنیای بازی‌ها به دنبالش هستید
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/394732447">
                                <img src="static/landings/game/icon/1.jpg">
                                <span class="app-title-en">Need for Speed™ Hot Pursuit</span>
                                <span class="app-info">
                                    تعقیب و گریزهای جذاب خیابانی به سبک نید فور اسپید در نسخه "تحت تعقیب"
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/633443676">
                                <img src="static/landings/game/icon/2.jpg">
                                <span class="app-title-en">Deus Ex: The Fall</span>
                                <span class="app-info">
                                    نسخه موبایل این بازی معروف که با اکشن سرعتی و گرافیک جذاب خود شما را مجذوب می‌کند
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/428887661">
                                <img src="static/landings/game/icon/3.jpg">
                                <span class="app-title-en">MONSTER HUNTER Dynamic Hunting</span>
                                <span class="app-info">
                                    اینبار بر روی آیفون و یا آیپد خود به شکار هیولاها بروید و در سرزمین‌های اساطیری برای خود اسم و رسمی به پا کنید
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/610003290">
                                <img src="https://repo.PROJECT.ir/static/610/003/290/data/160.jpg">
                                <span class="app-title-en">Infinity Blade III</span>
                                <span class="app-info">
                                    آخرین بازی از سری ماجراجویی‌های حماسی شمشیر ابدی
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/575658129">
                                <img src="https://repo.PROJECT.ir/static/575/658/129/data/160.jpg">
                                <span class="app-title-en">Injustice: Gods Among Us</span>
                                <span class="app-info">
                                    نبرد خیر و شر در میان ابرقهرمانان و جنایتکاران دنیای کمیک‌ها دی‌سی
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/915049333">
                                <img src="https://repo.PROJECT.ir/static/915/049/333/data/160.jpg">
                                <span class="app-title-en">Fahrenheit: Indigo Prophecy Remastered</span>
                                <span class="app-info">
                                    بازسازی بازی بسیار خوب معمایی و روانشناختی فارنهایت برای آیفون و آیپد
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/970417047">
                                <img src="static/landings/game/icon/4.jpg">
                                <span class="app-title-en">The Walking Dead: No Man's Land</span>
                                <span class="app-info">
                                    یک بازی اکشن-استراتژی از سری مردگان متحرک که در آن باید در نقش دریل و دیکسون بازی کنید
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/657811530">
                                <img src="https://repo.PROJECT.ir/static/657/811/530/data/160.jpg">
                                <span class="app-title-en">Rayman Fiesta Run</span>
                                <span class="app-info">
                                    دنیای جذاب و رنگارنگ ریمن و هدایات دو موجود بسیار بامزه
                                </span>
                            </a>
                        </li>
                         <li class="col-1-3">
                            <a target="_blank" href="https://www.PROJECT.ir/vitrine/322523436">
                                <img src="static/landings/game/icon/5.jpg">
                                <span class="app-title-en">Resident Evil 4: PLATINUM</span>
                                <span class="app-info">
                                    نسخه موبایل یکی از برتین بازی‌های سری رزیدنت اویل با داستان‌های جانبی مختص خود
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="counter">
                    <section class="apps-download-counter">
                        <div class="downloadscounter"></div>
                    </section>

                    <span class="title">تعداد دانلود لحظه‌ای برنامه‌های اپفورال توسط کاربران</span>
                </div>
                <aside>
                    <div id="dirdl" class="signup-btn theapplink">
                        <span class="text">دانلود رایگان اپفورال</span>
                        <span class="time">فقط از ۱۵ آبان تا ۱۵ آذر</span>
                        <i class="dl"></i>
                    </div>
                </aside>
            </div>
        </section>
    </section>
</main>
{% endblock %}

{% block scripts %}
<script src="/static/js/flipclock.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
 //for Counter apps download
 $(document).ready(function(){
     var counter = $('.downloadscounter').FlipClock({{dl_data}}, {
         clockFace: 'Counter'
     });

     var socket = io();
     socket.on('inc', function(new_count){
         console.log(new_count);
         counter.setValue(new_count);
     })

     $('#dirdl').on("click", function(e) {
         analytics.track("userfree_download", {
             category: 'Download App',
             label: 'game'
         });
     });

     $(".sms-form button.submit").on('click', function(){
         analytics.track('sms_download', {
             category: 'Download App',
             label: 'game',
             value: 1
         });
     });

 });
</script>
{% endblock %}
