{% extends "base.html" %}

{% block style %}
<link href="/static/landings/game2/css/style.css" media="all" rel="stylesheet" >
<link href="/static/css/flipclock.css" media="all" rel="stylesheet" >
{% endblock %}

{% block login %}{% endblock %}

{% block main %}
<main>
    <section class="ll-page section1">
        <section class="container">
            <section class="ll-body">
                <div class="ll-title">
                    <h1>دانلود رایگان و نامحدود برترین بازی‌ها</h1>
                    <h2>و بیش از ۱۳۰۰۰ برنامه دیگر برای آیفون و آیپد<br>
                        با امکان خرید ریالی تمامی برنامه‌های اپ‌استور آمریکا
                    </h2>
                </div>
                <div class="row row-related-apps">
                    <ul>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/284819997" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/284/819/997/data/160.jpg">
                                <span class="app-title-en">IGN: Video Game News, Reviews, Guides</span>
                                <span class="app-info">
                                    اخبار دنیای بازی‌ها، عکس‌ها و ویدیوهای اختصاصی، آموزش‌های بازی‌های قدیمی و جدید و هر چیز دیگر که در دنیای بازی‌ها به دنبالش هستید
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/394732447" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/402/604/194/data/160.jpg">
                                <span class="app-title-en">Need for Speed™ Hot Pursuit</span>
                                <span class="app-info">
                                    تعقیب و گریزهای جذاب خیابانی به سبک نید فور اسپید در نسخه "تحت تعقیب"
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/610003290" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/610/003/290/data/160.jpg">
                                <span class="app-title-en">Infinity Blade III</span>
                                <span class="app-info">
                                    آخرین بازی از سری ماجراجویی‌های حماسی شمشیر ابدی
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/575658129" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/575/658/129/data/160.jpg">
                                <span class="app-title-en">Injustice: Gods Among Us</span>
                                <span class="app-info">
                                    نبرد خیر و شر در میان ابرقهرمانان و جنایتکاران دنیای کمیک‌ها دی‌سی
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/915049333" target="_blank">
                                <img src="static/landings/game2/icon/1.jpg">
                                <span class="app-title-en">Fahrenheit: Indigo Prophecy Remastered</span>
                                <span class="app-info">
                                    بازسازی بازی بسیار خوب معمایی و روانشناختی فارنهایت برای آیفون و آیپد
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/424794827" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/424/794/827/data/160.jpg">
                                <span class="app-title-en">CHAOS RINGS Ω</span>
                                <span class="app-info">
                                    حلقه‌های هرج و مرج نسخه امگا آخرین بازی از شاهکار سه گانه اسکوئر انیکس است که گرافیگ بسیار بالایی دارد و گیم‌پلی ماجرایی و اکشن را توامان در خود جای داده
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </section>
    <section class="ll-page section2">
        <section class="container">
            <section class="ll-body">
                <div class="ll-title">
                    <h1>ورود به دنیای اپ استور آمریکا</h1>
                </div>
                <div class="row row-appstore">
                    <ul>
                        <li class="col-1-4">
                            <img src="static/landings/game2/images/icon1.png">
                            <h2>نصب رایگان بیش از ۱۳۰۰۰ برنامه قبل از خرید</h2>
                        </li>
                        <li class="col-1-4">
                            <img src="static/landings/game2/images/icon2.png">
                            <h2>خرید ریالی تمامی برنامه های اپ استور آمریکا</h2>
                        </li>
                        <li class="col-1-4">
                            <img src="static/landings/game2/images/icon3.png">
                            <h2>ساخت اپل آیدی رایگان و خودکار</h2>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </section>
    <section class="ll-page section3">
        <section class="container">
            <section class="ll-body">
                <div class="row row-review">
                    <ul>
                        <li class="col-1-6">
                            <img src="static/landings/game2/images/image1.png">
                        </li>
                        <li class="col-1-6">
                            <span class="liner">FIFA 16 Ultimate Team</span>
                            <p class="">فیفا، یکی از بهترین بازی‌های شبیه ساز فوتبال که سعی کرده در کنار گرافیک خیره کننده نسخه 2016 خود یک سیستم کاملا واقع‌گرایانه تحویل طرفداران بدهد. این بازی با حضور بیش از ده هزار بازیکن از پانصد تیم در سراسر دنیا شما را در بهترین ورزش‌گاه‌های دنیا به چالشی فوتبالی می‌کشاند.</p>
                            <a class="dl-btn theapplink" href="https://www.PROJECT.ir/vitrine/940702381">
                                <span>رایگان نصب کنید</span><i></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </section>
    <section class="ll-page section4">
        <section class="container">
            <section class="ll-body">
                <div class="row row-report">
                    <ul>
                        <li class="col-1-6">
                            <img src="static/landings/game2/images/image2.png">
                        </li>
                        <li class="col-1-6">
                            <span class="liner">World of Warcraft Mobile Armory</span>
                            <p class="">برای بازیکن‌های حرفه‌ای دنیای وارکرافت این برنامه فوق‌العاده مفید بوده و شما می‌توانید مشخصات آرموری خود را کامل در آن مشاهده کرده و مدل‌های مختلف را با استفاده از داشته‌های خود در حالت شبیه‌ساز آن امتحان کنید. در این برنامه تقویم کامل بتل‌نت را نیز در اختیار خواهید داشت که به شما برای از یاد نبردن انجام ماموریت‌های ویژه و اتفاقات مهم دنیای وارکرافت یاری خواهد کرد.</p>
                            <a class="dl-btn theapplink" href="https://www.PROJECT.ir/vitrine/321057000">
                                <span>رایگان نصب کنید</span><i></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </section>
    <section class="ll-page section5">
        <section class="container">
            <section class="ll-body">
                <div class="ll-title">
                    <h1>تفریح، ترس و هیجان روی آیپد و آیفون شما</h1>
                </div>
                <div class="row row-related-apps">
                    <ul>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/970417047" target="_blank">
                                <img src="static/landings/game2/icon/2.jpg">
                                <span class="app-title-en">The Walking Dead: No Man's Land</span>
                                <span class="app-info">
                                    یک بازی اکشن-استراتژی از سری مردگان متحرک که در آن باید در نقش دریل و دیکسون بازی کنید
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/657811530" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/657/811/530/data/160.jpg">
                                <span class="app-title-en">Rayman Fiesta Run</span>
                                <span class="app-info">
                                    دنیای جذاب و رنگارنگ ریمن و هدایات دو موجود بسیار بامزه
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/633443676" target="_blank">
                                <img src="static/landings/game2/icon/3.jpg">
                                <span class="app-title-en">Deus Ex: The Fall</span>
                                <span class="app-info">
                                    نسخه موبایل این بازی معروف که با اکشن سرعتی و گرافیک جذاب خود شما را مجذوب می‌کند
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/428887661" target="_blank">
                                <img src="static/landings/game2/icon/4.jpg">
                                <span class="app-title-en">MONSTER HUNTER Dynamic Hunting</span>
                                <span class="app-info">
                                    اینبار بر روی آیفون و یا آیپد خود به شکار هیولاها بروید و در سرزمین‌های اساطیری برای خود اسم و رسمی به پا کنید
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/667362389" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/667/362/389/data/667362389.160.jpg">
                                <span class="app-title-en">The Room 2</span>
                                <span class="app-info">
                                    در فضایی ترسناک ، برای فرار از هر اتاق باید معمایی پیچیده را حل کنید
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/322523436" target="_blank">
                                <img src="static/landings/game2/icon/5.jpg">
                                <span class="app-title-en">Resident Evil 4: PLATINUM</span>
                                <span class="app-info">
                                    نسخه موبایل یکی از برتین بازی‌های سری رزیدنت اویل با داستان‌های جانبی مختص خود
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/535344281" target="_blank">
                                <img src="static/landings/game2/icon/6.jpg">
                                <span class="app-title-en">Video Games Amino</span>
                                <span class="app-info">
                                    شبکه اجتماعی مختص گیمرها. در این برنامه امکان اشتراک‌گذاری متن و عکس، گفتگوی آنلاین و گفتگوی گروهی در بین میلیون‌ها طرفدار بازی‌های کامپیوتری فراهم شده
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/1008035618" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/100/803/561/8/data/160.jpg">
                                <span class="app-title-en">SBK15 - Official Mobile Game</span>
                                <span class="app-info">
                                    در این بازی، هدایت برترین موتورسواران دنیا را سوار بر انواع موتورهای شرکت‌کننده در مسابقات همچون هوندا و کاوازاکی به عهده خواهید داشت
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="col-1-12 counter">
                        <section class="apps-download-counter">
                            <div class="downloadscounter"></div>
                        </section>
                        <span class="title">تعداد دانلود لحظه&zwnj;ای برنامه&zwnj;های اپفورال توسط کاربران</span>
                    </div>
                    <div class="col-1-12 more-apps-btn">
                        <div id="dirdl" class="signup-btn theapplink">
                            <span class="text">دانلود رایگان اپفورال</span>
                            <span class="time">یکساله و نامحدود، فقط تا ۱۵ آذرماه ۱۳۹۳</span>
                            <i class="dl"></i>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</main>

{% endblock %}

{% block scripts %}
<script src="/static/js/flipclock.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
 //for Counter apps download
 $(document).ready(function(){
     var counter = $('.downloadscounter').FlipClock({{dl_data}}, {
         clockFace: 'Counter'
     });

     var socket = io();
     socket.on('inc', function(new_count){
         console.log(new_count);
         counter.setValue(new_count);
     })
     $('#dirdl').on("click", function(e) {
         analytics.track("userfree_download", {
             category: 'Download App',
             label: 'game2'
         });
     });

     $(".sms-form button.submit").on('click', function(){
         analytics.track('sms_download', {
             category: 'Download App',
             label: 'game2',
             value: 1
         });
     });

 });
</script>
{% endblock %}
