{% extends "base.html" %}

{% block style %}
<link href="/static/landings/photography2/css/style.css" media="all" rel="stylesheet" >
<link href="/static/css/flipclock.css" media="all" rel="stylesheet" >
{% endblock %}

{% block login %}{% endblock %}

{% block main %}
<main>
    <section class="ll-page section1">
        <section class="container">
            <section class="ll-body">
                <div class="ll-title">
                    <h1>دانلود رایـگان و نامحدود برترین برنامه های عکاسی و فیلم‌برداری</h1>
                    <h2>و بیش از ۱۳۰۰۰ برنامه دیگر برای آیفون و آیپد<br>
                        با امکان خرید ریالی تمامی برنامه‌های اپ‌استور آمریکا
                    </h2>
                </div>
                <div class="row odd the-feature row-related-apps">
                    <ul>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/930026670" target="_blank">
                                <img src="http://is3.mzstatic.com/image/thumb/Purple6/v4/37/19/73/37197330-92b3-3500-2811-e411d0dc2b91/source/160x160-86.jpg">
                                <span class="app-title-en">Enlight</span>
                                <span class="app-info">
                                    یکی از کامل‌ترین برنامه‌های ویرایش عکس برای آیفون و آیپد
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/506271165" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/506/271/165/data/160.jpg">
                                <span class="app-title-en">AfterFocus</span>
                                <span class="app-info">
                                    ابزاری بسیار کارآمد برای ایجاد عمق میدان وضوح مصنوعی بعد از عکاسی
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/329670577" target="_blank">
                                <img src="http://is2.mzstatic.com/image/thumb/Purple6/v4/55/bb/b1/55bbb1c2-9869-2e8a-5730-88045fadd2a8/source/160x160-86.jpg">
                                <span class="app-title-en">Camera+</span>
                                <span class="app-info">
                                    تنظیمات حرفه‌ای بر روی دوربین هنگام عکاسی و فیلم‌برداری
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/377298193" target="_blank">
                                <img src="http://is5.mzstatic.com/image/thumb/Purple69/v4/96/c0/17/96c017c8-f691-b228-ea94-899f391491f8/source/160x160-86.jpg">
                                <span class="app-title-en">iMovie</span>
                                <span class="app-info">
                                    فیلترگذاری، ویرایش به وسیله ابزارهای متنوع، بریدن و چسباندن و بسیاری امکانات دیگر برای ساخت یک ویدیو به یادماندی
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/573116090" target="_blank">
                                <img src="http://is4.mzstatic.com/image/thumb/Purple69/v4/32/4f/57/324f5761-79b6-241d-00c0-3e163fb89345/source/160x160-86.jpg">
                                <span class="app-title-en">Afterlight</span>
                                <span class="app-info">
                                    عکاسی، تصحیح رنگ و ویرایش عکس‌ها در محیطی عالی و کاربرپسند
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/694647259" target="_blank">
                                <img src="http://is5.mzstatic.com/image/thumb/Purple6/v4/dd/8c/99/dd8c99c9-699a-5f7c-f0d0-08db47f82879/source/160x160-86.jpg">
                                <span class="app-title-en">ProCamera</span>
                                <span class="app-info">
                                    نسخه کامل، همراه با امکانات اضافی برنامه محبوب پروکمرا با پشتیبانی از HDR
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </section>
    <section class="ll-page section2">
        <section class="container">
            <section class="ll-body">
                <div class="ll-title">
                    <h1>ورود به دنیای اپ استور آمریکا</h1>
                </div>
                <div class="row odd the-feature row-appstore">
                    <ul>
                        <li class="col-1-4">
                            <img src="static/landings/photography2/images/icon1.png">
                            <h2>نصب رایگان بیش از ۱۳۰۰۰ برنامه قبل از خرید</h2>
                        </li>
                        <li class="col-1-4">
                            <img src="static/landings/photography2/images/icon2.png">
                            <h2>خرید ریالی تمامی برنامه های اپ استور آمریکا</h2>
                        </li>
                        <li class="col-1-4">
                            <img src="static/landings/photography2/images/icon3.png">
                            <h2>ساخت اپل آیدی رایگان و خودکار</h2>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </section>
    <section class="ll-page section3">
        <section class="container">
            <section class="ll-body">
                <div class="row odd the-feature row-review">
                    <ul>
                        <li class="col-1-6">
                            <img src="static/landings/photography2/images/image1.png">
                        </li>
                        <li class="col-1-6">
                            <span class="liner">MoviePro</span>
                            <p class="">ابزاری قدرتمند برای فیلم‌برداری با آیفون که امکانات کاملی را برای این کار در اختیار شما قرار می‌دهد. خارج از امکانات اولیه‌ای که این برنامه در خود دارد ابزارهای ویژه‌ای نیز در آن تعبیه شده. برای مثال شما می‌توانید هنگام فیلم‌برداری کیفیت تصویر مورد نظر را تغییر دهید یا به صورت بی‌صدا اقدام به تصویربرداری کنید. اما چند ابزار جالب نیز MoviePro در خود دارد که بسیار جالب هستند. یکی حالت Spy هست که وقتی در آن حالت فیلم‌برداری می‌کنید گوشی شما صفحه اصلی گوشی را نمایش می‌دهد اما در همان حین در حال فیلم‌برداری‌ست و یکی فیلم‌برداری 4K در مدل‌های 6S و 6S+ آیفون است.</p>
                            <a class="dl-btn theapplink" href="https://www.PROJECT.ir/vitrine/547101144">
                                <span>رایگان نصب کنید</span><i></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </section>
    <section class="ll-page section4">
        <section class="container">
            <section class="ll-body">
                <div class="row odd the-feature row-report">
                    <ul>
                        <li class="col-1-6">
                            <img src="static/landings/photography2/images/image2.png">
                        </li>
                        <li class="col-1-6">
                            <span class="liner">VSCO</span>
                            <p class="">برنامه‌ای برای عکاسی، ویرایش و انتشار عکس‌ بر روی آیفون. VSCO همچون بسیاری برنامه‌های این دست عمل می‌کند اما در بخش عکاسی یک تفاوت بنیادی با دیگر برنامه‌ها دارد. در این اپ شما می‌توانید همچون دوربین‌های DSLR تنظیمات کاملی نسبت به دوربین داشته باشید و عکسی که کاملا مطابق ایده‌آل‌های شماست بگیرید. امکان انتشار عکس‌هایتان در شبکه‌اجتماعی برنامهُ جستجو در بین عکس‌های دیگران و انتشار بر روی دیگر شبکه‌های اجتماعی از دیگر امکانات این برنامه به شمار می‌روند.</p>
                            <a class="dl-btn theapplink" href="https://www.PROJECT.ir/vitrine/588013838">
                                <span>رایگان نصب کنید</span><i></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </section>
    <section class="ll-page section5">
        <section class="container">
            <section class="ll-body">
                <div class="ll-title">
                    <h1>یک دوربین حرفه‌ای و همه فن حریف در آیپد و آیفون شما</h1>
                </div>
                <div class="row odd the-feature row-related-apps">
                    <ul>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/728479183" target="_blank">
                                <img src="http://is4.mzstatic.com/image/thumb/Purple7/v4/63/f8/03/63f803c0-ccb4-662d-d895-16a47237ca46/source/160x160-86.jpg">
                                <span class="app-title-en">Filterstorm Neue</span>
                                <span class="app-info">
                                    تصحیح و تنظیم کنتراست نوری و رنگی بر روی عکس‌ها
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/650415564" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/650/415/564/data/160.jpg">
                                <span class="app-title-en">Mextures</span>
                                <span class="app-info">
                                    ویرایشگری برای ایجاد بافت و افکت گذاری بر روی بخش‌هایی از عکس
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/924695435" target="_blank">
                                <img src="http://is4.mzstatic.com/image/thumb/Purple69/v4/5c/8e/96/5c8e969c-3654-bbf5-ea4c-b6930868b5de/source/160x160-86.jpg">
                                <span class="app-title-en">Pixelmator</span>
                                <span class="app-info">
                                    ویرایشگر عکسی کامل با کیفیتی بالا بر پایه استفاده از لایه‌ها
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/606310581" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/606/310/581/data/160.jpg">
                                <span class="app-title-en">Facetune</span>
                                <span class="app-info">
                                    روتوش عکس‌های پرتره به وسیله ابزارهای اختصاصی
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/569723994" target="_blank">
                                <img src="http://is4.mzstatic.com/image/thumb/Purple69/v4/a2/14/fc/a214fc28-9258-6e8a-488f-177e2600cfa1/source/160x160-86.jpg">
                                <span class="app-title-en">Fisheye</span>
                                <span class="app-info">
                                    امکان تبدیل عکس‌های معمولی به عکس‌هایی که با لنزهای فیش‌آی گرفته‌ شده‌اند
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/835494571" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/835/494/571/data/160.jpg">
                                <span class="app-title-en">Split Lens 2</span>
                                <span class="app-info">
                                    گرفتن چند عکس از یک زاویه، تلفیق آن‌ها و ساخت عکس‌های جالب به این روش
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/457011380" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/457/011/380/data/160.jpg">
                                <span class="app-title-en">MosaicTouch</span>
                                <span class="app-info">
                                    پنهان سازی بخش‌هایی از عکس که نمی‌‌خواهید دیده شود در زیر لایه‌ای از موزاییک‌هایی رنگی
                                </span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <a href="https://www.PROJECT.ir/vitrine/441183050" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/441/183/050/data/160.jpg">
                                <span class="app-title-en">DMD 360</span>
                                <span class="app-info">
                                    عکاسی و به اشتراک گذاری آسان عکس‌های پانوراما تا ۳۶۰ درجه
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="col-1-12 counter">
                        <section class="apps-download-counter">
                            <div class="downloadscounter"></div>
                        </section>
                        <span class="title">تعداد دانلود لحظه&zwnj;ای برنامه&zwnj;های اپفورال توسط کاربران</span>
                    </div>
                    <div class="col-1-12 more-apps-btn">
                        <div id="dirdl" class="signup-btn theapplink">
                            <span class="text">دانلود رایگان اپفورال</span>
                            <span class="time">یکساله و نامحدود، فقط تا ۱۵ آذرماه ۱۳۹۳</span>
                            <i class="dl"></i>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</main>

{% endblock %}

{% block scripts %}
<script src="/static/js/flipclock.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
 //for Counter apps download
 $(document).ready(function(){
     var counter = $('.downloadscounter').FlipClock({{dl_data}}, {
         clockFace: 'Counter'
     });

     var socket = io();
     socket.on('inc', function(new_count){
         console.log(new_count);
         counter.setValue(new_count);
     })

     $('#dirdl').on("click", function(e) {
         analytics.track("userfree_download", {
             category: 'Download App',
             label: 'sport2'
         });
     });

     $(".sms-form button.submit").on('click', function(){
         analytics.track('sms_download', {
             category: 'Download App',
             label: 'photography2',
             value: 1
         });
     });

 });
</script>
{% endblock %}
