{% extends "base.html" %}

{% block style %}
<link href="/static/landings/movie/css/style.css" media="all" rel="stylesheet" >
<link href="/static/css/flipclock.css" media="all" rel="stylesheet" >
{% endblock %}

{% block login %}{% endblock %}

{% block main %}
<main>              
    <section class="content">
        <section class="container">
            <div class="cup"><img src="/static/landings/movie/images/banner.png"></div>
            <div class="box">
            <span class="title">دانلود نامحدود و رایـگان برترین برنامه‌ها<br>بـرای فیـلم بین‌های حرفـه‌ای </span>
            <span class="sub-title"> و بیش از ۱۲،۰۰۰ برنامه‌ی دیگر برای آیفون و آیپد <br>با امکان خرید ریالی تمامی برنامه‌های اپ‌استور آمریکا</span>

            <div class="apps">
                <ul>
                    <li class="col-1-3">
                        <a href="https://www.PROJECT.ir/vitrine/342792525">
                            <img src="static/landings/movie/icon/1.jpg">
                            <span class="app-title-en">IMDb Movies & TV</span>
                            <span class="app-info">برنامه رسمی بزرگترین بانک اطلاعاتی مربوط به نقد فیلم‌ها و سریال‌ها</span>
                        </a>
                    </li>
                    <li class="col-1-3">
                        <a href="https://www.PROJECT.ir/vitrine/307544289">
                            <img src="static/landings/movie/icon/2.jpg">
                            <span class="app-title-en">Entertainment Tonight – ET</span>
                            <span class="app-info">
                                آخرین اخبار از فیلم‌ها، سریال‌ها و ستارگان هالیوود و همراه عکس‌ها و ویدیو‌های جذاب
                            </span>
                        </a>
                    </li>
                    <li class="col-1-3">
                        <a href="https://www.PROJECT.ir/vitrine/334565283">
                            <img src="static/landings/movie/icon/3.jpg">
                            <span class="app-title-en">Tv show tracker 3</span>
                            <span class="app-info">
                                دنبال کردن سریال‌های محبوب خود و مطلع شدن از عناوین قسمت‌های آینده
                            </span>
                        </a>
                    </li>
                    <li class="col-1-3">
                        <a href="https://www.PROJECT.ir/vitrine/395680819">
                            <img src="https://repo.PROJECT.ir/static/395/680/819/data/160.jpg">
                            <span class="app-title-en">AVPlayer</span>
                            <span class="app-info">
                                دنبال برترین پلیر فیلم برای کسانی که قصد دیدن فایل‌های MKV به همراه زیرنویس فارسی را دارند
                            </span>
                        </a>
                    </li>
                    <li class="col-1-3">
                        <a href="https://www.PROJECT.ir/vitrine/632312737">
                            <img src="https://repo.PROJECT.ir/static/632/312/737/data/160.jpg">
                            <span class="app-title-en">Disney Animated</span>
                            <span class="app-info">
                                برنامه‌ای بی‌نظیر برای علاقه‌مندان به انیمیشن‌های دیزنی و چگوگنی شکل‌گیری آن‌ها
                            </span>
                        </a>
                    </li>
                    <li class="col-1-3">
                        <a href="https://www.PROJECT.ir/vitrine/562924378">
                            <img src="static/landings/movie/icon/4.jpg">
                            <span class="app-title-en">Trailer Addict</span>
                            <span class="app-info">
                                نمایش آخرین پیش‌نمایش فیلم‌هایی که به زودی اکران خواهند شد
                            </span>
                        </a>
                    </li>
                    <li class="col-1-3">
                        <a href="https://www.PROJECT.ir/vitrine/366105022">
                            <img src="static/landings/movie/icon/5.jpg">
                            <span class="app-title-en">Film Study</span>
                            <span class="app-info">
                            فیلم ‌دیدن حرفه‌ای و نت‌برداری بر روی بخش‌های مختلف از فیلم
                        </span>
                    </a>
                </li>
                <li class="col-1-3">
                    <a href="https://www.PROJECT.ir/vitrine/513580586">
                        <img src="static/landings/movie/icon/6.jpg">
                        <span class="app-title-en">My Movies</span>
                        <span class="app-info">
                            مدیرت بهتر بر مجموعه فیلم‌هایی که آرشیو کرده‌اید
                        </span>
                    </a>
                </li>
                <li class="col-1-3">
                    <a href="https://www.PROJECT.ir/vitrine/489321253">
                        <img src="https://repo.PROJECT.ir/static/489/321/253/data/160.jpg">
                        <span class="app-title-en">Action Movie FX</span>
                        <span class="app-info">
                            اضافه کردن افکت‌های جذاب فیلم‌های هالیوودی به ویدیو‌هایی که با گوشی خود گرفته‌اید
                        </span>
                    </a>
                </li>
                <li class="col-1-3">
                    <a href="https://www.PROJECT.ir/vitrine/801957884">
                        <img src="static/landings/movie/icon/7.jpg">
                        <span class="app-title-en">Guess the movie</span>
                        <span class="app-info">
                            بازی‌ ساده‌ای برای به چالش کشیدن حافظه فیلمی شما
                        </span>
                    </a>
                </li>
                <li class="col-1-3">
                    <a href="https://www.PROJECT.ir/vitrine/370800328">
                        <img src="static/landings/movie/icon/8.jpg">
                        <span class="app-title-en">Movreak Remake</span>
                        <span class="app-info">
                            شبکه اجتماعی پیرامون فیلم و سریال و مباحث اینچنینی
                        </span>
                    </a>
                </li>
                <li class="col-1-3">
                    <a href="https://www.PROJECT.ir/vitrine/480826558">
                        <img src="static/landings/movie/icon/9.jpg">
                        <span class="app-title-en">Korean Cinema Today</span>
                        <span class="app-info">
                            اخبار، عکس‌، مقالات و مصاحبه‌هایی از دنیای فیلم‌های کره‌ای
                        </span>
                    </a>
                </li>
                </ul>
            </div>
            <div class="counter">
                <section class="apps-download-counter">
                    <div class="downloadscounter"></div>
                </section>

                <span class="title">تعداد دانلود لحظه‌ای برنامه‌های اپفورال توسط کاربران</span>
            </div>
            <aside>
                <div id="dirdl" class="signup-btn theapplink">
                    <span class="text">دانلود رایگان اپفورال</span>
                    <span class="time">فقط از ۱۵ آبان تا ۱۵ آذر</span>
                    <i class="dl"></i>
                </div>
            </aside>
            </div>
        </section>
    </section>
               
</main>
{% endblock %}

{% block scripts %}
<script src="/static/js/flipclock.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
 //for Counter apps download
 $(document).ready(function(){
     var counter = $('.downloadscounter').FlipClock({{dl_data}}, {
         clockFace: 'Counter'
     });

     var socket = io();
     socket.on('inc', function(new_count){
         console.log(new_count);
         counter.setValue(new_count);
     })

     $('#dirdl').on("click", function(e) {
         analytics.track("userfree_download", {
             category: 'Download App',
             label: 'movie'
         });
     });

     $(".sms-form button.submit").on('click', function(){
         analytics.track('sms_download', {
             category: 'Download App',
             label: 'movie',
             value: 1
         });
     });

 });
</script>
{% endblock %}
