{% extends "base.html" %}

{% block style %}
<link href="/static/landings/sport2/css/style.css" media="all" rel="stylesheet" >
<link href="/static/css/flipclock.css" media="all" rel="stylesheet" >
{% endblock %}

{% block login %}{% endblock %}

{% block main %}
<main>
	<section class="ll-page section1">
        <section class="container">
            <section class="ll-body">
                <div class="ll-title">
                    <h1>دانلود رایـگان و نامحدود برترین برنامه های ورزشی</h1>
                    <h2>و بیش از ۱۳۰۰۰ برنامه دیگر برای آیفون و آیپد<br>
                        با امکان خرید ریالی تمامی برنامه‌های اپ‌استور آمریکا
                    </h2>
                </div>
                <div class="row row-related-apps">
                    <ul>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/907035821" target="_blank">
                                <img src="static/landings/sport2/icon/1.jpg">
                                <span class="app-title-en">FIVB World Volleyball</span>
                                <span class="app-info">
                                    برنامه بازی‌ها و نتایج زنده مسابقات والیبالی مثل بازی‌های ایران را در جام‌های مختلف، می‌توانید از طریق این برنامه دنبال کنید
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/756904853" target="_blank">
                                <img src="https://repo.PROJECT.ir/static/756/904/853/data/160.jpg">
                                <span class="app-title-en">FIFA Official App</span>
                                <span class="app-info">
                                    اخبار و نتایج مربوط به مسابقات فوتبال سراسر جهان و خاطره بازی با جام‌های جهانی گذشته
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/835022598" target="_blank">
                                <img src="static/landings/sport2/icon/2.jpg">
                                <span class="app-title-en">Official F1</span>
                                <span class="app-info">
                                    جزییات، رکوردها و ویدیوهای مربوط به مسابقات اتومبیل رانی فرمول1 و اخبار پیرامون‌ آن
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/286058814" target="_blank">
                                <img src="static/landings/sport2/icon/3.jpg">
                                <span class="app-title-en">Yahoo Sports</span>
                                <span class="app-info">
                                    مقالات متنوع و جزییات و نتایج ورز‌ش‌های مختلف در سراسر جهان
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/453744566" target="_blank">
                                <img src="static/landings/sport2/icon/4.jpg">
                                <span class="app-title-en">Stats Zone</span>
                                <span class="app-info">
                                    نتایج زنده از مسابقات فوتبال و آمار کامل گارفیکی از تک تک بازیکنان در بازی‌های مهم
                                </span>
                            </a>
                        </li>
                        <li class="col-1-4">
                            <a href="https://www.PROJECT.ir/vitrine/317469184" target="_blank">
                                <img src="static/landings/sport2/icon/5.jpg">
                                <span class="app-title-en">ESPN</span>
                                <span class="app-info">
                                    برنامه‌ای جامع برای علاقه‌مندان به اخبار پیرامون ورزش‌های مختلف
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
	</section>
	<section class="ll-page section2">
        <section class="container">
            <section class="ll-body">
                <div class="ll-title">
                    <h1>ورود به دنیای اپ استور آمریکا</h1>
                </div>
                <div class="row row-appstore">
                    <ul>
                        <li class="col-1-4">
                            <img src="static/landings/sport2/images/icon1.png">
                            <h2>نصب رایگان بیش از ۱۳۰۰۰ برنامه قبل از خرید</h2>
                        </li>
                        <li class="col-1-4">
                            <img src="static/landings/sport2/images/icon2.png">
                            <h2>خرید ریالی تمامی برنامه های اپ استور آمریکا</h2>
                        </li>
                        <li class="col-1-4">
                            <img src="static/landings/sport2/images/icon3.png">
                            <h2>ساخت اپل آیدی رایگان و خودکار</h2>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
	</section>
	<section class="ll-page section3">
        <section class="container">
            <section class="ll-body">
                <div class="row row-review">
                    <ul>
                        <li class="col-1-6">
                            <img src="static/landings/sport2/images/image1.png">
                        </li>
                        <li class="col-1-6">
                            <span class="liner">Real Racing 3</span>
                            <p class="">Real Racing 3 با گرافیک خیره‌کننده شما را به دل مسابقات اتومبیل‌رانی و پیست‌های معروف جهان می‌برد. در این بازی زیبا و جذاب سوار بر ماشین‌های معروفی می‌شوید که با جزییات کامل طراحی شده و رانندگی با هر کدام از آن‌ها حس و حال مخصوص به خود را دارد. از مهم‌ترین ویژگی‌های بازی مسابقات آنلاین آن است که هر بار ۸ ماشین که بازیکنان مختلفی از سراسر جهان آن را می‌رانند در آن شرکت خواهند داشت.</p>
                            <a class="dl-btn theapplink" href="https://www.PROJECT.ir/vitrine/556164008">
                                <span>رایگان نصب کنید</span><i></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
	</section>
	<section class="ll-page section4">
        <section class="container">
            <section class="ll-body">
                <div class="row row-report">
                    <ul>
                        <li class="col-1-6">
                            <img src="static/landings/sport2/images/image2.png">
                        </li>
                        <li class="col-1-6">
                            <span class="liner">Goal Live Scores</span>
                            <p class="">برنامه ای کاربردی برای علاقه‌مندان به مسابقات فوتبال در سراسر جهان. با این برنامه شما می‌توانید نتایج لحظه به لحظه بازی‌های فوتبال ملی و لیگ‌های مختلف فوتبال از جمله کشور خودمان را دنبال کنید. البته آمار و ارقام بازی‌ها، جزییات کامل عملکرد تیم‌‌ها ، آنالیز بازیکنان و اخبار تعبیه شده در برنامه مختص لیگ‌های معروف دنیاست. نمایش جدول تمامی‌ لیگ‌های دنیا از دیگر ویژگی‌های این برنامه جذاب است.</p>
                            <a class="dl-btn theapplink" href="https://www.PROJECT.ir/vitrine/687276446">
                                <span>رایگان نصب کنید</span><i></i>
                            </a>
                        </ul>
                    </div>
                </section>
            </section>
	</section>
	<section class="ll-page section5">
            <section class="container">
                <section class="ll-body">
                    <div class="ll-title">
                        <h1>هیجان ورزش و مسابقه روی آیپد و آیفون شما</h1>
                    </div>
                    <div class="row row-related-apps">
                        <ul>
                            <li class="col-1-3">
                                <a href="https://www.PROJECT.ir/vitrine/517271093" target="_blank">
                                    <img src="static/landings/sport2/icon/6.jpg">
                                    <span class="app-title-en">Virtua Tennis Challenge</span>
                                    <span class="app-info">
                                        برترین شبیه‌ساز مسابقات تنیس بر روی آیفون و آیپد با حضور معروف‌ترین تنیسورهای جهان
                                    </span>
                                </a>
                            </li>
                            <li class="col-1-3">
                                <a href="https://www.PROJECT.ir/vitrine/343196080" target="_blank">
                                    <img src="https://repo.PROJECT.ir/static/343/196/080/data/160.jpg">
                                    <span class="app-title-en">FC Barcelona Official App</span>
                                    <span class="app-info">
                                        برنامه رسمی باشگاه بارسلونا که اخبار، ویدیوها، برنامه‌ بازی‌ها و نتایج بازی‌های این تیم پرطرفدار را در خود دارد
                                    </span>
                                </a>
                            </li>
                            <li class="col-1-3">
                                <a href="https://www.PROJECT.ir/vitrine/327054744" target="_blank">
                                    <img src="https://repo.PROJECT.ir/static/327/054/744/data/160.jpg">
                                    <span class="app-title-en">Realmadrid App</span>
                                    <span class="app-info">
                                        برنامه اختصاصی باشگاه رئال مادرید در کنار نتایج، ویدیوها و مشخصات تمامی بازیکنان، عکس‌های خوبی نیز به صورت هفتگی برای طرفداران ارائه می‌کند
                                    </span>
                                </a>
                            </li>
                            <li class="col-1-3">
                                <a href="https://www.PROJECT.ir/vitrine/1013374789" target="_blank">
                                    <img src="https://repo.PROJECT.ir/static/101/337/478/9/data/160.jpg">
                                    <span class="app-title-en">Fantasy Premier League</span>
                                    <span class="app-info">
                                        با بیش از سه میلیون کاربر فعال، فوتبال فانتزی لیگ انگلیس یکی از پرطرفدارترین بازی‌های آنلاین فوتبالی محسوب می‌شود
                                    </span>
                                </a>
                            </li>
                            <li class="col-1-3">
                                <a href="https://www.PROJECT.ir/vitrine/984732818" target="_blank">
                                    <img src="static/landings/sport2/icon/7.jpg">
                                    <span class="app-title-en">NBA 2K16</span>
                                    <span class="app-info">
                                        جدید‌ترین نسخه بازی بسکتبال NBA با کیفت و گرافیکی خارق‌العاده و هدایت عالی
                                    </span>
                                </a>
                            </li>
                            <li class="col-1-3">
                                <a href="https://www.PROJECT.ir/vitrine/826523703" target="_blank">
                                    <img src="static/landings/sport2/icon/8.jpg">
                                    <span class="app-title-en">Soccer Stars</span>
                                    <span class="app-info">
                                        یکی از برترین بازی‌های فوتبال فانتزی آنلاین با میلیون‌ها بازیکن در سراسر دنیا
                                    </span>
                                </a>
                            </li>
                            <li class="col-1-3">
                                <a href="https://www.PROJECT.ir/vitrine/534473264" target="_blank">
                                    <img src="https://repo.PROJECT.ir/static/534/473/264/data/160.jpg">
                                    <span class="app-title-en">Real Boxing</span>
                                    <span class="app-info">
                                        بازی بوکس واقع‌گرایانه با گرافیک زیبا، گیم‌پلی بسیار عالی و حضور برترین بوکسورهای دنیا
                                    </span>
                                </a>
                            </li>
                            <li class="col-1-3">
                                <a href="https://www.PROJECT.ir/vitrine/940702381" target="_blank">
                                    <img src="https://repo.PROJECT.ir/static/940/702/381/data/160.jpg">
                                    <span class="app-title-en">FIFA 16 Ultimate Team</span>
                                    <span class="app-info">
                                        تازه‌ترین نسخه شبیه‌ساز فوتبال محبوب فیفا که نوآوری‌های بسیاری نسبت به نسخه پیشین دارد
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="col-1-12 counter">
                            <section class="apps-download-counter">
                                <div class="downloadscounter"></div>
                            </section>
                            <span class="title">تعداد دانلود لحظه&zwnj;ای برنامه&zwnj;های اپفورال توسط کاربران</span>
                        </div>
                        <div class="col-1-12 more-apps-btn">
                            <div id="dirdl" class="signup-btn theapplink">
                                <span class="text">دانلود رایگان اپفورال</span>
                                <span class="time">یکساله و نامحدود، فقط تا ۱۵ آذرماه ۱۳۹۳</span>
                                <i class="dl"></i>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
	</section>
</main>

{% endblock %}

{% block scripts %}
<script src="/static/js/flipclock.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
 //for Counter apps download
 $(document).ready(function(){
     var counter = $('.downloadscounter').FlipClock({{dl_data}}, {
         clockFace: 'Counter'
     });

     var socket = io();
     socket.on('inc', function(new_count){
         console.log(new_count);
         counter.setValue(new_count);
     })

     $('#dirdl').on("click", function(e) {
         analytics.track("userfree_download", {
             category: 'Download App',
             label: 'sport2'
         });
     });
 });
</script>
{% endblock %}
