{% extends "base.html" %}

{% block style %}
<link href="/static/landings/sport/css/style.css" media="all" rel="stylesheet" >
<link href="/static/css/flipclock.css" media="all" rel="stylesheet" >
{% endblock %}

{% block login %}{% endblock %}

{% block main %}
<main>
    <section class="content">
        <section class="container">
            <div class="cup"><img src="/static/landings/sport/images/cup.png"></div>
            <div class="box bundles">
                <span class="title"> دانلود نامحدود و رایـگان برترین برنامه‌های ورزشـی</span>
                <span class="sub-title"> و بیش از ۱۲،۰۰۰ برنامه‌ی دیگر برای آیفون و آیپد <br>با امکان خرید ریالی تمامی برنامه‌های اپ‌استور آمریکا</span>
                        <div class="apps">
                            <ul>
                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/687276446">
                                    <img src="static/landings/sport/icon/1.jpg">
                                    <span class="app-title">Goal Live Scores</span>
                                    <span class="app-info">نتایج زنده و آمار تمامی مسابقات لیگ‌های فوتبال از جمله ایران</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/756904853">
                                    <img src="https://repo.PROJECT.ir/static/756/904/853/data/160.jpg">
                                    <span class="app-title">FIFA Official App</span>
                                    <span class="app-info">اخبار و نتایج مربوط به مسابقات فوتبال سراسر جهان و خاطره بازی با جام‌های جهانی گذشته</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/835022598">
                                    <img src="static/landings/sport/icon/2.jpg">
                                    <span class="app-title">Official F1</span>
                                    <span class="app-info">جزییات، رکوردها و ویدیوهای مربوط به مسابقات اتومبیل رانی فرمول1 و اخبار پیرامون‌ آن</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/286058814">
                                    <img src="static/landings/sport/icon/3.jpg">
                                    <span class="app-title">Yahoo Sports</span>
                                    <span class="app-info">مقالات متنوع و جزییات و نتایج ورز‌ش‌های مختلف در سراسر جهان</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/453744566">
                                    <img src="static/landings/sport/icon/4.jpg">
                                    <span class="app-title">Stats Zone</span>
                                    <span class="app-info">نتایج زنده از مسابقات فوتبال و آمار کامل گارفیکی از تک تک بازیکنان در بازی‌های مهم</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/940702381">
                                    <img src="https://repo.PROJECT.ir/static/940/702/381/data/160.jpg">
                                    <span class="app-title">FIFA 16 Ultimate Team</span>
                                    <span class="app-info">تازه‌ترین نسخه شبیه‌ساز فوتبال محبوب فیفا که نوآوری‌های بسیاری نسبت به نسخه پیشین دارد</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/984732818">
                                    <img src="static/landings/sport/icon/5.jpg">
                                    <span class="app-title">NBA 2K16</span>
                                    <span class="app-info">جدید‌ترین نسخه بازی بسکتبال NBA با کیفت و گرافیکی خارق‌العاده و هدایت عالی</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/826523703">
                                    <img src="static/landings/sport/icon/6.jpg">
                                    <span class="app-title">Soccer Stars</span>
                                    <span class="app-info">یکی از برترین بازی‌های فوتبال فانتزی آنلاین با میلیون‌ها بازیکن در سراسر دنیا</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/534473264">
                                    <img src="https://repo.PROJECT.ir/static/534/473/264/data/160.jpg">
                                    <span class="app-title">Real Boxing</span>
                                    <span class="app-info">بازی بوکس واقع‌گرایانه با گرافیک زیبا، گیم‌پلی بسیار عالی و حضور برترین بوکسورهای دنبا</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/922316241">
                                    <img src="https://repo.PROJECT.ir/static/922/316/241/data/160.jpg">
                                    <span class="app-title">Snowboard Party</span>
                                    <span class="app-info">شرکت در انواع مسابقات هیجان‌انگیز اسنوبورد در فضاهای برفی بسیار زیبا</span>
                                </a></li>

                                <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/317469184">
                                    <img src="static/landings/sport/icon/7.jpg">
                                    <span class="app-title">ESPN</span>
                                    <span class="app-info">برنامه‌ای جامع برای علاقه‌مندان به اخبار پیرامون ورزش‌های مختلف</span>
                                </a></li>

                               <li class="col-1-3"><a href="https://www.PROJECT.ir/vitrine/517271093">
                                    <img src="static/landings/sport/icon/8.jpg">
                                    <span class="app-title">Virtua Tennis Challenge</span>
                                    <span class="app-info">برترین شبیه‌ساز مسابقات تنیس بر روی آیفون و آیپد با حضور معروف‌ترین تنیسورهای جهان</span>
                                </a></li>
                            </ul>
                        </div>
                <div class="counter">
                    <section class="apps-download-counter">
                        <div class="downloadscounter"></div>
                    </section>

                    <span class="title">تعداد دانلود لحظه‌ای برنامه‌های اپفورال توسط کاربران</span>
                </div>
                <a href="/help/" onclick="ga('send','event','Download','Click', 'sport')" target="_blank">
                <aside>
                    <div id="dirdl" class="signup-btn theapplink">
                        <span class="text">دانلود رایگان اپفورال</span>
                        <span class="time">فقط از ۱۵ آبان تا ۱۵ آذر</span>
                        <i class="dl"></i>
                    </div>
                </aside>
                </a>
            </div>
        </section>
    </section>

</main>

{% endblock %}

{% block scripts %}
<script src="/static/js/flipclock.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
 //for Counter apps download
 $(document).ready(function(){
     var counter = $('.downloadscounter').FlipClock({{dl_data}}, {
         clockFace: 'Counter'
     });

     var socket = io();
     socket.on('inc', function(new_count){
         console.log(new_count);
         counter.setValue(new_count);
     })

     $('#dirdl').on("click", function(e) {
         analytics.track("userfree_download", {
             category: 'Download App',
             label: 'sport'
         });
     });
 });
</script>
{% endblock %}
