	<section class="section-support fa">
		<section class="container">
			<section class="support-box">
				<h2 class="support-title">سوالی درباره اپفورال دارید؟ تیم پشتیبانی اپفورال هفت روز هفته در کنار شماست.</h2>
				<div class="info-row mail">
					<div class="the-title">
						<span class="the-icon"></span>
						ایمیل:
					</div>
					<div class="the-spec"><a href="mailto:hi@PROJECT.ir">hi@PROJECT.ir</a></div>
				</div>
			</section><!--support-box-->
		</section>
	</section><!--section-support-->
