body{
    background: url('../images/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #606060;
    overflow-y: auto;

}
.page-top-menu {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);

}
.page-top-menu .head-logo-link {
    opacity: 0.5;
}
.page-top-menu .head-logo {
    opacity: 0.4;
}
.cup {
    margin: 120px auto 0;
    text-align: center;
    width: 100%;
}
.cup img{
    width: 400px;
    height: auto;
    max-width: 100%;
}
.top-logo{
    text-align: center;
}
.top-logo img{
    width: 100px;
    height: auto;
}
.content .box {
    font-family: 'IRANSans-web', tahoma;
    font-weight: normal;
    margin: 0 0 50px;
    padding: 10px 10px 20px;
}
.title,.sub-title {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    font-size: 24px;
}
.sub-title {
    font-weight: normal;
    font-size: 18px;
}
.apps ul {
    overflow: hidden;
}
.apps li {
    overflow: hidden;
}
.apps li a{
    display: block;
    margin: 10px;
    padding:20px 10px;
    height: 180px;
    text-align:center;
    color: #606060;
}
.apps li a:hover{
    text-decoration: none;
    color: #222;
}
.apps li img {
    -webkit-border-radius: 24px;
    -moz-border-radius:    24px;
    -ms-border-radius:     24px;
    border-radius:         24px;
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto 10px auto;
}
.apps li a:hover img{
    box-shadow: 0 0 8px #999;
}
.app-title-en{
    color: #606060;
    font-family: Arial,tahoma;
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.app-info {
    font-size: 11px;
    margin: 5px auto 0 auto;
    display: block;
}
.signup-btn {
    display: block;
    position: relative;
    max-width: 400px;
    height: 90px;
    margin: 40px auto 20px auto;
    background: #50bd50;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    -ms-border-radius:     4px;
    border-radius:         4px;
    background: -moz-linear-gradient(top, #54c754 0%, #4db54d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54c754), color-stop(100%,#4db54d));
    background: -webkit-linear-gradient(top, #54c754 0%,#4db54d 100%);
    background: -o-linear-gradient(top, #54c754 0%,#4db54d 100%);
    background: -ms-linear-gradient(top, #54c754 0%,#4db54d 100%);
    background: linear-gradient(to bottom, #54c754 0%,#4db54d 100%);
    -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 0 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0 0 10px 0px rgba(0, 0, 0, 0.3);
}
.signup-btn:hover {
    -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0 0 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0 0 10px 0px rgba(0, 0, 0, 0.3);
}
.signup-btn .text {
    direction: rtl;
    display: block;
    font-size: 22px;
    font-weight: 500;
    padding-top: 8px;
}
.signup-btn .time {
    direction: rtl;
    display: block;
    font-size: 13px;
    font-weight: 300;
    padding-top: 0;
}
.signup-btn:hover {
    opacity: 0.95;
    cursor: pointer;
}
.signup-btn i.dl {
    background: url('../images/dl.png') no-repeat scroll center center;
    display: block;
    height: 32px;
    left: 20px;
    opacity: 0.18;
    position: absolute;
    top: 30px;
    width: 32px;
}
.counter .title {
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 10px;
}
.apps-download-counter {
    margin-top: 80px;
}
.apps-download-counter .downloadscounter {
    text-align: center;
    direction: ltr;
}
.apps-download-counter .downloadscounter .flip {
    display: inline-block;
    float: none;
}

@media (max-width: 1040px) {
    .apps li.col-1-3 {
        width: 33.333%;
    }
}
@media (max-width: 800px) {
    .page-header.openmenu .page-top-menu {
        background: #fff;
        position: fixed;
    }
    .page-header.openmenu .head-logo {
        display: block;
    }
    .page-top-menu .menu-nav ul li a {
        color: #888;
    }
    .apps li.col-1-3 {
        width: 50%;
    }
}
@media (max-width: 600px) {
    .apps li.col-1-3 {
        width: 100%;
    }
    .apps li a {
        height: auto;
    }
    .signup-page .apps-download-counter {
        height: 40px;
    }
    .flip-clock-wrapper ul {
        margin: 2px !important;
        width: 30px !important;
        height: 45px !important;
    }
    .flip-clock-wrapper ul li a div {
        font-weight: normal !important;
        font-size: 35px !important;
        line-height: 48px !important;
    }
}